Repository WWhiteDreamProject/wwdpublic, pull requests merged in 2024-12, with the labels that each got.

#131 [Fix] Massive Bug Fixes / Массовое Исправление Багов
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Client/Storage/StorageBoundUserInterface.cs
  Content.Client/Weather/WeatherSystem.cs
  Content.IntegrationTests/Tests/Fluids/AbsorbentTest.cs
  Content.Server/Animals/Systems/WoolySystem.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/FootPrint/FootPrintsSystem.cs
  Content.Server/FootPrint/PuddleFootPrintsSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Server/Vampire/BloodSuckerSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Medical/CPR/Systems/CPRSystem.cs
  Content.Shared/Nutrition/Components/IngestionBlockerComponent.cs
  Content.Shared/Nutrition/EntitySystems/IngestionBlockerSystem.cs
  Content.Shared/Nutrition/IngestionEvents.cs
  Content.Shared/Prying/Systems/PryingSystem.cs
  Resources/Audio/Announcers/RuOld/events/aliens.ogg
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Maps/drydock.yml
Labels: Changes: C#, Changes: UI, Changes: YML, Changes: Audio, Changes: Map

#114 [Port/Feature] Knockdown / Сбитие С Ног
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Speech/EntitySystems/StutteringSystem.cs
  Content.Server/Stunnable/Components/KnockdownOnHitComponent.cs
  Content.Server/Stunnable/Systems/KnockdownOnHitSystem.cs
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Content.Server/_White/Flash/FlashSoundSuppressionComponent.cs
  Content.Server/_White/Flash/FlashSoundSuppressionSystem.cs
  Content.Server/_White/Knockdown/BaseKnockdownOnComponent.cs
  Content.Server/_White/Knockdown/KnockComponent.cs
  Content.Server/_White/Knockdown/KnockdownOnCollideComponent.cs
  Content.Server/_White/Knockdown/KnockdownOnHitComponent.cs
  Content.Server/_White/Knockdown/KnockdownSystem.cs
  Content.Shared/Flash/Components/FlashOnTriggerComponent.cs
  Content.Shared/Flash/SharedFlashSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/SimpleStation14/Clothing/Systems/ClothingGrantingSystem.cs
  Content.Shared/Stunnable/KnockedDownComponent.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/_White/Collision/Knockdown/KnockdownOnCollideSystem.cs
  Content.Shared/_White/Collision/LayDown/LayDownOnCollideComponent.cs
  Content.Shared/_White/Collision/LayDown/LayDownOnCollideSystem.cs
  Resources/Locale/en-US/_white/alerts/alerts.ftl
  Resources/Locale/ru-RU/_white/alerts/alerts.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/throwable/bola.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/Projectiles/bolts..yml
  Resources/Prototypes/status_effects.yml
  Resources/Textures/_White/Interface/Alerts/knockdown.rsi/knockdown.png
  Resources/Textures/_White/Interface/Alerts/knockdown.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML

#132 ZimaBlyat
  Resources/Maps/DryDock.yml
  Resources/Maps/Moose.yml
  Resources/Maps/Shuttles/mining.yml
  Resources/Maps/WhiteBox.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Maps/drydock.yml
  Resources/Prototypes/Maps/moose.yml
  Resources/Prototypes/Maps/whitebox.yml
Labels: Changes: YML, Changes: Map

#134 Hotfix
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Resources/Locale/en-US/_white/announcements/announcers/announcers.ftl
  Resources/Locale/ru-RU/_white/announcements/announcers/announcers.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#136 [Fix] Исправление ТТСа
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/_White/TTS/TTSSystem.cs
  Content.Server/_White/TTS/TTSManager.cs
  Content.Server/_White/TTS/TTSSystem.cs
  Content.Shared/_White/CVars.cs
  Resources/Locale/ru-RU/_white/prototypes/voice/tts_voices.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#135 Alt-Z
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Verbs/Verb.cs
  Content.Shared/Wieldable/Components/WieldableComponent.cs
  Content.Shared/Wieldable/WieldableSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#137 [Fix] TTS
  Content.Server/_White/TTS/TTSManager.cs
  Content.Server/_White/TTS/TTSSystem.cs
  Content.Shared/_White/TTS/TTSPitchRateSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#139 [Fix] TTS
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/_White/TTS/AnnounceTTSSystem.cs
  Content.Client/_White/TTS/HumanoidProfileEditor.TTS.cs
  Content.Client/_White/TTS/TTSManager.cs
  Content.Client/_White/TTS/TTSSystem.cs
  Content.IntegrationTests/Tests/Preferences/ServerDbSqliteTests.cs
  Content.Server/VoiceMask/VoiceMaskComponent.cs
  Content.Server/_White/Chat/Systems/AnnouncementSpokeEvent.cs
  Content.Server/_White/TTS/TTSManager.cs
  Content.Server/_White/TTS/TTSManagerExtension.cs
  Content.Server/_White/TTS/TTSSystem.Announce.cs
  Content.Server/_White/TTS/TTSSystem.Cache.cs
  Content.Server/_White/TTS/TTSSystem.Preview.cs
  Content.Server/_White/TTS/TTSSystem.SSML.cs
  Content.Server/_White/TTS/TTSSystem.Sanitize.cs
  Content.Server/_White/TTS/TTSSystem.cs
  Content.Server/_White/TTS/VoiceMaskSystem.TTS.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/_White/CVars.cs
  Content.Shared/_White/TTS/Events/PlayTTSEvent.cs
  Content.Shared/_White/TTS/Events/RequestTTSEvent.cs
  Content.Shared/_White/TTS/MsgRequestTTS.cs
  Content.Shared/_White/TTS/TTSComponent.cs
  Content.Shared/_White/TTS/TTSPitchRateSystem.cs
  Content.Shared/_White/TTS/TTSSerializable.cs
  Content.Shared/_White/TTS/TTSVoicePrototype.cs
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Locale/en-US/_white/prototypes/voice/tts-voices.ftl
  Resources/Locale/ru-RU/_white/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/_white/prototypes/voice/tts-voices.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#133 White changelog
  Content.Client/Lobby/LobbyState.cs
  Resources/Changelog/Changelog.yml
  Resources/Changelog/WhiteChangelog.yml
  Resources/Locale/en-US/_white/changelog/changelog-window.ftl
  Resources/Locale/ru-RU/_white/changelog/changelog-window.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#140 [Fix] TTS
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#141 mom get the camera
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Content.Shared/MouseRotator/MouseRotatorComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#144 Added link to wiki in EscMenu
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#145 [ADD] Custom ghosts
  Resources/Prototypes/_White/Ghosts/custom_ghosts.yml
  Resources/Textures/_White/Ghosts/dexpth_q-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/dexpth_q-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/nonta228-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/nonta228-ghost.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#150 [Tweak] Morgue Sprites
  Resources/Textures/Structures/Storage/morgue.rsi/crema_active_light.png
  Resources/Textures/Structures/Storage/morgue.rsi/crema_closed.png
  Resources/Textures/Structures/Storage/morgue.rsi/crema_contents_light.png
  Resources/Textures/Structures/Storage/morgue.rsi/crema_open.png
  Resources/Textures/Structures/Storage/morgue.rsi/crema_tray.png
  Resources/Textures/Structures/Storage/morgue.rsi/meta.json
  Resources/Textures/Structures/Storage/morgue.rsi/morgue_closed.png
  Resources/Textures/Structures/Storage/morgue.rsi/morgue_nomob_light.png
  Resources/Textures/Structures/Storage/morgue.rsi/morgue_nosoul_light.png
  Resources/Textures/Structures/Storage/morgue.rsi/morgue_open.png
  Resources/Textures/Structures/Storage/morgue.rsi/morgue_soul_light.png
  Resources/Textures/Structures/Storage/morgue.rsi/morgue_tray.png
Labels: Changes: Sprite, Changes: YML

#153 [Fix] Centcomm Lobby Screen
  Resources/Textures/_White/LobbyScreens/centcomm.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#152 [Tweak] TV Sprite
  Resources/Prototypes/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Textures/_White/Structures/Machines/Computers/tv.rsi/detective_television.png
  Resources/Textures/_White/Structures/Machines/Computers/tv.rsi/meta.json
  Resources/Textures/_White/Structures/Machines/Computers/tv.rsi/television.png
  Resources/Textures/_White/Structures/Machines/Computers/tv.rsi/television_broken.png
  Resources/Textures/_White/Structures/Machines/Computers/tv.rsi/television_playing.png
Labels: Changes: Sprite, Changes: YML

#151 [Feature] Flags
  Resources/Locale/ru-RU/_white/prototypes/entities/structures/wallmounts/flags.ftl
  Resources/Migrations/migration.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_White/Entities/Structures/Wallmounts/flags.yml
  Resources/Textures/_White/Structures/Wallmounts/flags.rsi/agurk.png
  Resources/Textures/_White/Structures/Wallmounts/flags.rsi/coder.png
  Resources/Textures/_White/Structures/Wallmounts/flags.rsi/hca.png
  Resources/Textures/_White/Structures/Wallmounts/flags.rsi/inteq.png
  Resources/Textures/_White/Structures/Wallmounts/flags.rsi/lizard.png
  Resources/Textures/_White/Structures/Wallmounts/flags.rsi/meta.json
  Resources/Textures/_White/Structures/Wallmounts/flags.rsi/mothic.png
  Resources/Textures/_White/Structures/Wallmounts/flags.rsi/nt.png
  Resources/Textures/_White/Structures/Wallmounts/flags.rsi/shigu.png
  Resources/Textures/_White/Structures/Wallmounts/flags.rsi/solfed.png
  Resources/Textures/_White/Structures/Wallmounts/flags.rsi/solfed_alt.png
  Resources/Textures/_White/Structures/Wallmounts/flags.rsi/syndicate.png
  Resources/Textures/_White/Structures/Wallmounts/flags.rsi/tizira.png
  Resources/Textures/_White/Structures/Wallmounts/flags.rsi/vulp.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML

#157 [Tweak] Vending Inventory
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/detdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
Labels: Changes: YML

#160 [Tweak] Ru Name
  Resources/Prototypes/Datasets/Names/Operation_prefix.yml
  Resources/Prototypes/Datasets/Names/Operation_suffix.yml
  Resources/Prototypes/Datasets/Names/ai.yml
  Resources/Prototypes/Datasets/Names/arachnid_first.yml
  Resources/Prototypes/Datasets/Names/arachnid_last.yml
  Resources/Prototypes/Datasets/Names/autoborg.yml
  Resources/Prototypes/Datasets/Names/borer.yml
  Resources/Prototypes/Datasets/Names/borg.yml
  Resources/Prototypes/Datasets/Names/cargo_shuttle.yml
  Resources/Prototypes/Datasets/Names/clown.yml
  Resources/Prototypes/Datasets/Names/death_commando.yml
  Resources/Prototypes/Datasets/Names/diona.yml
  Resources/Prototypes/Datasets/Names/fake_human_first.yml
  Resources/Prototypes/Datasets/Names/fake_human_last.yml
  Resources/Prototypes/Datasets/Names/first.yml
  Resources/Prototypes/Datasets/Names/first_female.yml
  Resources/Prototypes/Datasets/Names/first_male.yml
  Resources/Prototypes/Datasets/Names/fortunes.yml
  Resources/Prototypes/Datasets/Names/hologram.yml
  Resources/Prototypes/Datasets/Names/last.yml
  Resources/Prototypes/Datasets/Names/mushman_first.yml
  Resources/Prototypes/Datasets/Names/mushman_last.yml
  Resources/Prototypes/Datasets/Names/ninja.yml
  Resources/Prototypes/Datasets/Names/ninja_title.yml
  Resources/Prototypes/Datasets/Names/regalrat.yml
  Resources/Prototypes/Datasets/Names/reptilian_female.yml
  Resources/Prototypes/Datasets/Names/reptilian_male.yml
  Resources/Prototypes/Datasets/Names/revenant.yml
  Resources/Prototypes/Datasets/Names/skeleton_first.yml
  Resources/Prototypes/Datasets/Names/syndicate.yml
  Resources/Prototypes/Datasets/Names/vox.yml
  Resources/Prototypes/Datasets/Names/wizard_first.yml
  Resources/Prototypes/Datasets/Names/wizard_last.yml
Labels: Changes: YML

#147 [Feature] TG Gases / TG Газы
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Client/Atmos/Overlays/GasTileOverlay.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/Atmos/Reactions/FrezonCoolantReaction.cs
  Content.Server/Atmos/Reactions/FrezonProductionReaction.cs
  Content.Server/Atmos/Reactions/PlasmaFireReaction.cs
  Content.Server/Atmos/Reactions/TritiumFireReaction.cs
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
  Content.Server/_White/Atmos/Reactions/BZProductionReaction.cs
  Content.Server/_White/Atmos/Reactions/HalonOxygenAbsorptionReaction.cs
  Content.Server/_White/Atmos/Reactions/HealiumProductionReaction.cs
  Content.Server/_White/Atmos/Reactions/HydrogenFireReaction.cs
  Content.Server/_White/Atmos/Reactions/HyperNobliumProductionReaction.cs
  Content.Server/_White/Atmos/Reactions/NitriumDecompositionReaction.cs
  Content.Server/_White/Atmos/Reactions/NitriumProductionReaction.cs
  Content.Server/_White/Atmos/Reactions/PluoxiumProductionReaction.cs
  Content.Server/_White/Atmos/Reactions/ProtoNitrateBZaseActionReaction.cs
  Content.Server/_White/Atmos/Reactions/ProtoNitrateHydrogenConversionReaction.cs
  Content.Server/_White/Atmos/Reactions/ProtoNitrateProductionReaction.cs
  Content.Server/_White/Atmos/Reactions/ProtoNitrateTritiumDeirradiationReaction.cs
  Content.Server/_White/Atmos/Reactions/ZaukerDecompositionReaction.cs
  Content.Server/_White/Atmos/Reactions/ZaukerProductionReaction.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Locale/en-US/_white/prototypes/atmospherics/gases.ftl
  Resources/Locale/en-US/_white/prototypes/reagents/fun.ftl
  Resources/Locale/en-US/_white/prototypes/reagents/gases.ftl
  Resources/Locale/en-US/_white/prototypes/reagents/physical-desc.ftl
  Resources/Locale/en-US/_white/reagents/tranquility.ftl
  Resources/Locale/en-US/reagents/meta/elements.ftl
  Resources/Locale/ru-RU/_white/prototypes/atmospherics/gases.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/structures/storage/canisters/gas-canisters.ftl
  Resources/Locale/ru-RU/_white/prototypes/reagents/fun.ftl
  Resources/Locale/ru-RU/_white/prototypes/reagents/gases.ftl
  Resources/Locale/ru-RU/_white/prototypes/reagents/physical-desc.ftl
  Resources/Locale/ru-RU/_white/reagents/tranquility.ftl
  Resources/Locale/ru-RU/gases/gases.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/canisters/gas_canisters.ftl
  Resources/Locale/ru-RU/reagents/meta/gases.ftl
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/_White/Atmospherics/gases.yml
  Resources/Prototypes/_White/Atmospherics/reactions.yml
  Resources/Prototypes/_White/Atmospherics/thresholds.yml
  Resources/Prototypes/_White/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/_White/Reagents/gases.yml
  Resources/Textures/_White/Effects/atmospherics.rsi/anti_noblium.png
  Resources/Textures/_White/Effects/atmospherics.rsi/halon.png
  Resources/Textures/_White/Effects/atmospherics.rsi/healium.png
  Resources/Textures/_White/Effects/atmospherics.rsi/meta.json
  Resources/Textures/_White/Effects/atmospherics.rsi/nitrium.png
  Resources/Textures/_White/Effects/atmospherics.rsi/proto_nitrate.png
  Resources/Textures/_White/Effects/atmospherics.rsi/zauker.png
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: Sprite, Changes: YML, Status: Needs Review

#163 Update announcers.ftl
  Resources/Locale/ru-RU/_white/announcements/announcers/announcers.ftl
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#171 [Feature] Stray Supply Pods
  Resources/Locale/en-US/_white/station-events/events/events.ftl
  Resources/Locale/ru-RU/_white/prototypes/catalog/supplypod/supplypod.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/markers/spawners/supplypod.ftl
  Resources/Locale/ru-RU/_white/station-events/events/events.ftl
  Resources/Prototypes/_White/Catalog/Fills/stray_supply_pod.yml
  Resources/Prototypes/_White/Catalog/SupplyPod/supply_pod.yml
  Resources/Prototypes/_White/Entities/Markers/Spawners/supplypod.yml
  Resources/Prototypes/_White/Entities/Structures/Storage/SupplyPod/base_supply_pod.yml
  Resources/Prototypes/_White/GameRules/events.yml
Labels: Changes: Localization, Changes: YML

#178 [Tweak] Metempsychotic cloning machine
  Resources/Prototypes/Entities/Structures/Machines/metempsychoticMachine.yml
Labels: Changes: YML

#177 [Fix] Surgery step sprite
  Resources/Prototypes/Entities/Surgery/surgery_steps.yml
Labels: Changes: YML, Status: Needs Review

#175 [Feature] Aghosts with visors / Агосты с визорами
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: Changes: YML, Status: Needs Review

#156 [Feature] Wormhole Anomaly
  Content.Server/StationEvents/Components/RandomSpawnRuleComponent.cs
  Content.Server/StationEvents/Events/RandomSpawnRule.cs
  Content.Server/_White/Anomaly/Components/WormholeAnomalyComponent.cs
  Content.Server/_White/Anomaly/Effects/WormholeAnomalySystem.cs
  Resources/Locale/en-US/_white/station-events/events/wormhole.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/structures/specific/anomalies.ftl
  Resources/Locale/ru-RU/_white/station-events/events/wormhole.ftl
  Resources/Prototypes/_White/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/_White/GameRules/events.yml
  Resources/Textures/_White/Structures/Specific/anomaly.rsi/meta.json
  Resources/Textures/_White/Structures/Specific/anomaly.rsi/wormhole.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#170 [Feature] New Lobby Texture
  Resources/Prototypes/_White/AnimatedLobby/lobbyScreens.yml
  Resources/Textures/_White/LobbyScreens/brig.rsi/1.png
  Resources/Textures/_White/LobbyScreens/brig.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#173 [Tweak] Nuke Ops
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Antag/Components/AntagSelectionComponent.cs
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#179 [Tweak] AGhost Action Icons
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Textures/_White/Interface/Actions/consoles.rsi/cargo.png
  Resources/Textures/_White/Interface/Actions/consoles.rsi/communication.png
  Resources/Textures/_White/Interface/Actions/consoles.rsi/crew.png
  Resources/Textures/_White/Interface/Actions/consoles.rsi/meta.json
  Resources/Textures/_White/Interface/Actions/consoles.rsi/radar.png
  Resources/Textures/_White/Interface/Actions/consoles.rsi/records.png
  Resources/Textures/_White/Interface/Actions/consoles.rsi/solar.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#186 [Upload] Another custom Ghosts
  Resources/Prototypes/_White/Ghosts/custom_ghosts.yml
  Resources/Textures/_White/Ghosts/felix163-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/felix163-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/gavrik-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/gavrik-ghost.rsi/icon.png
  Resources/Textures/_White/Ghosts/gavrik-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/headwiki-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/headwiki-ghost.rsi/icon.png
  Resources/Textures/_White/Ghosts/headwiki-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/kilath-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/kilath-ghost.rsi/icon.png
  Resources/Textures/_White/Ghosts/kilath-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/purka-ghost.rsi/icon.png
  Resources/Textures/_White/Ghosts/purka-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/purka-ghost.rsi/purkaghost.png
  Resources/Textures/_White/Ghosts/puroslavking-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/puroslavking-ghost.rsi/icon.png
  Resources/Textures/_White/Ghosts/puroslavking-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/pzakusik-ghost.rsi/icon.png
  Resources/Textures/_White/Ghosts/pzakusik-ghost.rsi/kutosghost.png
  Resources/Textures/_White/Ghosts/pzakusik-ghost.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#187 Удалил ивент со спавном нейтральных ксеносов
  Resources/Prototypes/Entities/Mobs/NPCs/xenopet.yml
Labels: Changes: YML

#193 хер вам а не шатдаун
  Resources/engineCommandPerms.yml
Labels: Changes: YML

#192 [Fix] Warete CL
  Resources/Changelog/WhiteChangelog.yml
Labels: Changes: YML

#189 [Tweak] МедШкаф
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
Labels: Changes: YML

#184 Вернул прежнее величие главе персонала №3
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: Changes: YML

#194 [Feature] Changes From Discord Votes
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
  Resources/Prototypes/Entities/Structures/Specific/Janitor/drain.yml
  Resources/Prototypes/_White/Recipes/Construction/Graphs/utilities/atmos_advanced.yml
  Resources/Prototypes/_White/Recipes/Crafting/utilities/atmos_advanced.yml
Labels: Changes: YML

#196 [Tweak] Remove round start Resomi
  Resources/Prototypes/_White/Species/resomi.yml
Labels: Changes: YML

#197 [Fix] custom ghosts fix
  Resources/Textures/_White/Ghosts/kilath-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/pzakusik-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/pzakusik-ghost.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#199 [Port] Snowball
  Content.Server/Destructible/Thresholds/Behaviors/SpillBehavior.cs
  Content.Shared/_White/FromTileCrafter/Components/FromTileCrafterComponent.cs
  Content.Shared/_White/FromTileCrafter/Systems/FromTileCrafterSystem.cs
  Resources/Locale/ru-RU/_white/flavors/flavors.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/misc/snowball.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_White/Entities/Fun/snowball.yml
  Resources/Prototypes/_White/Flavors/flavors.yml
  Resources/Prototypes/_White/Recipes/Lathes/Misc.yml
  Resources/Textures/_White/Objects/Misc/snowball.rsi/meta.json
  Resources/Textures/_White/Objects/Misc/snowball.rsi/snowball.png
  Resources/Textures/_White/Objects/Misc/snowball_maker.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Misc/snowball_maker.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Misc/snowball_maker.rsi/meta.json
  Resources/Textures/_White/Objects/Misc/snowball_maker.rsi/snowball-maker.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML

#200 [Port] Anti Grinch
  Content.Server/_White/Destructible/Thresholds/Behaviors/KillSignCauseBehavior.cs
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
Labels: Changes: C#, Changes: YML

#201 [Tweak] PDA Light
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: YML

#188 [Tweak] Security Lockers Reshuffle
  Resources/Prototypes/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
Labels: Changes: YML

#202 [fix] Purka ghost
  Resources/Textures/_White/Ghosts/purka-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/purka-ghost.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#198 Добавил русскую локализацию Лайки и Шивы
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
Labels: Changes: Localization, Changes: YML

#204 [Fix] Medusa Rules
  Resources/ServerInfo/Guidebook/ServerRules/MedusaRules.xml
Labels: Changes: Documentation, Changes: YML

#203 [Fix] DeskBell
  Resources/Locale/en-US/_white/interaction/bell.ftl
  Resources/Locale/ru-RU/_white/interaction/bell.ftl
  Resources/Prototypes/Entities/Objects/Misc/desk_bell.yml
Labels: Changes: Localization, Changes: YML

#206 [Fix] Implant Locale
  Resources/Locale/ru-RU/implant/implant.ftl
Labels: Changes: Localization, Changes: YML

#72 [TWEAK] Исправления камней, инструментов утилизаторов.
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Walls/mountain.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
Labels: Changes: YML

#190 [Feature] Headcrabs
  Content.Server/_White/Headcrab/HeadcrabComponent.cs
  Content.Server/_White/Headcrab/HeadcrabSystem.cs
  Content.Shared/_White/Headcrab/SharedHeadcrab.cs
  Resources/Audio/_White/Misc/Headcrab/headcrab_jump.ogg
  Resources/Locale/en-US/_white/popups/headcrab.ftl
  Resources/Locale/en-US/_white/station-events/events/events.ftl
  Resources/Locale/ru-RU/_white/guidbook/antagonist.ftl
  Resources/Locale/ru-RU/_white/guidbook/main.ftl
  Resources/Locale/ru-RU/_white/popups/headcrab.ftl
  Resources/Locale/ru-RU/_white/prototypes/actions/types.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/markers/spawners/headcrabs.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/mobs/npcs/headcrab.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/structures/other/headcrab.ftl
  Resources/Locale/ru-RU/_white/station-events/events/events.ftl
  Resources/Prototypes/_White/Actions/types.yml
  Resources/Prototypes/_White/Entities/Markers/Spawners/headcrab.yml
  Resources/Prototypes/_White/Entities/Mobs/NPCs/headcrab.yml
  Resources/Prototypes/_White/Entities/Structures/Other/headcrab_nest.yml
  Resources/Prototypes/_White/GameRules/events.yml
  Resources/Prototypes/_White/Guidebook/Antags/headcrab.yml
  Resources/Prototypes/_White/Guidebook/WWDP.yml
  Resources/Prototypes/_White/Guidebook/WhiteAntagonist.yml
  Resources/ServerInfo/_White/Guidebook/Antagonist/Antagonist.xml
  Resources/ServerInfo/_White/Guidebook/Antagonist/Headcrab/Headcrabs.xml
  Resources/ServerInfo/_White/Guidebook/Antagonist/Headcrab/Headcrabs/Headcrab.xml
  Resources/ServerInfo/_White/Guidebook/Antagonist/Headcrab/Headcrabs/HeadcrabFast.xml
  Resources/ServerInfo/_White/Guidebook/Antagonist/Headcrab/Headcrabs/HeadcrabPoison.xml
  Resources/ServerInfo/_White/Guidebook/WWDP.xml
  Resources/Textures/_White/Interface/Actions/headcrab.rsi/jump-off.png
  Resources/Textures/_White/Interface/Actions/headcrab.rsi/jump-on.png
  Resources/Textures/_White/Interface/Actions/headcrab.rsi/meta.json
  Resources/Textures/_White/Mobs/Animals/headcrab.rsi/alive.png
  Resources/Textures/_White/Mobs/Animals/headcrab.rsi/dead.png
  Resources/Textures/_White/Mobs/Animals/headcrab.rsi/equipped-HELMET-vox.png
  Resources/Textures/_White/Mobs/Animals/headcrab.rsi/equipped-HELMET.png
  Resources/Textures/_White/Mobs/Animals/headcrab.rsi/equipped-MASK-vox.png
  Resources/Textures/_White/Mobs/Animals/headcrab.rsi/equipped-MASK.png
  Resources/Textures/_White/Mobs/Animals/headcrab.rsi/meta.json
  Resources/Textures/_White/Mobs/Animals/headcrab_fast.rsi/alive.png
  Resources/Textures/_White/Mobs/Animals/headcrab_fast.rsi/dead.png
  Resources/Textures/_White/Mobs/Animals/headcrab_fast.rsi/equipped-HELMET-vox.png
  Resources/Textures/_White/Mobs/Animals/headcrab_fast.rsi/equipped-HELMET.png
  Resources/Textures/_White/Mobs/Animals/headcrab_fast.rsi/equipped-MASK-vox.png
  Resources/Textures/_White/Mobs/Animals/headcrab_fast.rsi/equipped-MASK.png
  Resources/Textures/_White/Mobs/Animals/headcrab_fast.rsi/meta.json
  Resources/Textures/_White/Mobs/Animals/headcrab_poison.rsi/alive.png
  Resources/Textures/_White/Mobs/Animals/headcrab_poison.rsi/dead.png
  Resources/Textures/_White/Mobs/Animals/headcrab_poison.rsi/equipped-HELMET-vox.png
  Resources/Textures/_White/Mobs/Animals/headcrab_poison.rsi/equipped-HELMET.png
  Resources/Textures/_White/Mobs/Animals/headcrab_poison.rsi/equipped-MASK-vox.png
  Resources/Textures/_White/Mobs/Animals/headcrab_poison.rsi/equipped-MASK.png
  Resources/Textures/_White/Mobs/Animals/headcrab_poison.rsi/meta.json
  Resources/Textures/_White/Structures/Other/headcrab_nest.rsi/icon.png
  Resources/Textures/_White/Structures/Other/headcrab_nest.rsi/meta.json
Labels: Changes: Documentation, Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Changes: Audio, Status: Needs Review

#216 [Tweak] Remove Mouse Spermamassive
  Resources/Prototypes/NPCs/mob.yml
Labels: Changes: YML

#217 [Port] Resprited Body Bags
  Resources/Prototypes/_White/Entities/Objects/Specific/Medical/bodybags.yml
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/bluespace.rsi/bluespacebag.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/bluespace.rsi/bluespacebag_folded.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/bluespace.rsi/bounty.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/bluespace.rsi/captains_paper.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/bluespace.rsi/invoice.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/bluespace.rsi/meta.json
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/bluespace.rsi/open_overlay.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/bluespace.rsi/paper.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/bounty.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/captains_paper.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/invoice.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/meta.json
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/ntbag.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/ntbag_folded.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/open_overlay.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/paper.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/prison.rsi/bounty.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/prison.rsi/captains_paper.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/prison.rsi/invoice.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/prison.rsi/meta.json
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/prison.rsi/open_overlay.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/prison.rsi/paper.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/prison.rsi/prisonerbag.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/prison.rsi/prisonerbag_folded.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/radiation.rsi/bounty.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/radiation.rsi/captains_paper.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/radiation.rsi/invoice.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/radiation.rsi/meta.json
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/radiation.rsi/open_overlay.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/radiation.rsi/paper.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/radiation.rsi/radiationbag.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/radiation.rsi/radiationbag_folded.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/syndicate.rsi/bounty.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/syndicate.rsi/captains_paper.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/syndicate.rsi/invoice.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/syndicate.rsi/meta.json
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/syndicate.rsi/open_overlay.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/syndicate.rsi/paper.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/syndicate.rsi/syndicatebag.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/syndicate.rsi/syndicatebag_folded.png
Labels: Changes: Sprite, Changes: YML

#214 [Tweak] BionicArm Trait Nerf
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: Localization, Changes: YML

#220 [Fix] AHelp Menu Sorting
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#219 [fix] Ghost Respawn Time
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Ghost/GhostReturnToRoundSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Resources/Locale/en-US/ghost/ghost-respawn.ftl
  Resources/Locale/ru-RU/ghost/ghost-respawn.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#212 [Fix] Humanoid Color
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/ipc.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#213 [Fix] No More Organs When Killing A Cockroach
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML

#222 [Port] Codeword Highlighting
  Content.Client/Roles/RoleCodewordSystem.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Roles/RoleCodeword/RoleCodewordSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Roles/RoleCodeword/RoleCodewordComponent.cs
  Content.Shared/Roles/RoleCodeword/SharedRoleCodewordSystem.cs
  Resources/Prototypes/Datasets/adjectives.yml
  Resources/Prototypes/Datasets/verbs.yml
Labels: Changes: C#, Changes: YML

#224 Вы указываете на святая ручная граната. x99!
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/Popups/PopupSystem.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Shared/_White/CVars.cs
  Resources/Locale/en-US/popup/popup.ftl
  Resources/Locale/ru-RU/_white/chat/chat-stacking.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML
