Repository WWhiteDreamProject/wwdpublic, pull requests merged in 2024-10, with the labels that each got.

#83 [Tweak] Dwarf's Weight / Вес Дварфов
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
Labels: Changes: YML, Status: Needs Review

#81 [Fix] No Discounts In Uplink Implant / Никаких Скидок В Импланте Аплинка
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_White/Store/presets.yml
Labels: Changes: YML, Status: Needs Review

#79 [Port] Smoke Implant / Имплант Дыма
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/prototypes/actions/types.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Prototypes/_White/Actions/types.yml
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_White/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#78 [Port] Syndicate Implanter / Имплантер Синдиката
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/misc/implanters.ftl
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Objects/Misc/implanters.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#80 [Port | Tweak] Neuro Stabilization Implant / Имплант Нейро Стабильности
  Content.Server/DeltaV/Implants/SubdermalBionicSyrinxImplantSystem.cs
  Content.Server/Mindshield/MindShieldSystem.cs
  Content.Server/_White/Implants/ImplantsSystem.cs
  Content.Shared/Implants/SharedImplanterSystem.cs
  Content.Shared/Implants/SharedSubdermalImplantSystem.cs
  Content.Shared/_White/Implants/NeuroStabilization/NeuroStabilizerComponent.cs
  Content.Shared/_White/Implants/NeuroStabilization/NeuroStabilizerSystem.cs
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/implants/neurostabilization.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_White/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_White/tags.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#87 [Tweak] Secret / Секрет
  Resources/Prototypes/secret_weights.yml
Labels: Changes: YML, Status: Needs Review

#86 [Port] Blood Dagger / Кровавый Кинжал
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/_White/Melee/BloodAbsorb/BloodAbsorbComponent.cs
  Content.Server/_White/Melee/BloodAbsorb/BloodAbsorbSystem.cs
  Content.Server/_White/Melee/Crit/CritSystem.cs
  Content.Server/_White/Other/BloodLust/BloodLustComponent.cs
  Content.Server/_White/Other/BloodLust/BloodLustSystem.cs
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/weapons/melee/daggers.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Melee/daggers.yml
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/betrayal_dagger.rsi/icon.png
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/betrayal_dagger.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/betrayal_dagger.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/betrayal_dagger.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/blood_dagger.rsi/icon.png
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/blood_dagger.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/blood_dagger.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/blood_dagger.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#85 [Port] MindSlave Implant / Имплант Подчинения
  Content.Client/_White/Overlays/MindSlave/MindSlaveIconsSystem.cs
  Content.Server/Implants/ImplanterSystem.cs
  Content.Server/_White/Implants/ImplantsSystem.cs
  Content.Shared/Implants/SharedImplanterSystem.cs
  Content.Shared/_White/Implants/MindSlave/MindSlaveComponent.cs
  Resources/Locale/en-US/_white/mindslave/mindslave.ftl
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/implants/mindslave.ftl
  Resources/Locale/ru-RU/_white/mindslave/mindslave.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_White/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_White/StatusIcon/mindslave.yml
  Resources/Prototypes/_White/tags.yml
  Resources/Textures/Effects/ssd.rsi/default0.png
  Resources/Textures/Effects/ssd.rsi/meta.json
  Resources/Textures/_White/Overlays/mindslave.rsi/master.png
  Resources/Textures/_White/Overlays/mindslave.rsi/meta.json
  Resources/Textures/_White/Overlays/mindslave.rsi/slave.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#92 [Fix] Localizations / Локализация
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Content.Shared/_White/CVars.cs
Labels: Changes: C#

#95 [Remove] Thieves' Pacifism / Воровской Пацифизм
  Resources/Prototypes/GameRules/midround.yml
Labels: Changes: YML, Status: Needs Review

#84 [Remove] No Pride O Mat / Прайдомат был удален
  Resources/Migrations/migration.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/vending.yml
Labels: Changes: YML, Status: Needs Review

#77 [Port] Hardlight Spear / Световое Копье
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/OfferItem/OfferItemSystem.cs
  Content.Server/_White/DespawnOnLandItem/DespawnOnLandItemComponent.cs
  Content.Server/_White/DespawnOnLandItem/DespawnOnLandItemSystem.cs
  Content.Server/_White/Implants/Spawn/SpawnImplantComponent.cs
  Content.Server/_White/Implants/Spawn/SpawnImplantSystem.cs
  Content.Server/_White/Throwing/ThrowingItemModifierComponent.cs
  Content.Shared/Implants/Components/SubdermalImplantComponent.cs
  Content.Shared/OfferItem/SharedOfferItemSystem.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/prototypes/actions/types.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/weapons/melee/spear.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Fun/darts.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/_White/Actions/types.yml
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_White/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Textures/_White/Objects/Weapons/Melee/Spear/hardlight_spear.rsi/equipped-BACKPACK.png
  Resources/Textures/_White/Objects/Weapons/Melee/Spear/hardlight_spear.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Melee/Spear/hardlight_spear.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Weapons/Melee/Spear/hardlight_spear.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Melee/Spear/hardlight_spear.rsi/spear.png
  Resources/Textures/_White/Objects/Weapons/Melee/Spear/hardlight_spear.rsi/spear1.png
  Resources/Textures/_White/Objects/Weapons/Melee/Spear/hardlight_spear.rsi/wielded-inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Melee/Spear/hardlight_spear.rsi/wielded-inhand-right.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#94 [Port/Tweak] Eshield / Е-Щит
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/_White/Blocking/RechargeableBlockingComponent.cs
  Content.Server/_White/Blocking/RechargeableBlockingSystem.cs
  Content.Shared/Weapons/Ranged/Events/HitScanReflectAttempt.cs
  Content.Shared/Weapons/Reflect/ReflectComponent.cs
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
  Resources/Locale/en-US/_white/rechargeable-blocking/rechargeable-blocking.ftl
  Resources/Locale/ru-RU/_white/rechargeable-blocking/rechargeable-blocking.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#97 [Translate] Переводы.
  Resources/Locale/en-US/_white/job/job-names.ftl
  Resources/Locale/en-US/customization/character-requirements.ftl
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/nyanotrasen/reagents/meta/consumable/drink/drink.ftl
  Resources/Locale/ru-RU/_white/job/job-names.ftl
  Resources/Locale/ru-RU/clothing/socks.ftl
  Resources/Locale/ru-RU/clothing/top.ftl
  Resources/Locale/ru-RU/clothing/underwear.ftl
  Resources/Locale/ru-RU/customization/character-requirements.ftl
  Resources/Locale/ru-RU/deltav/job/department-desc.ftl
  Resources/Locale/ru-RU/deltav/job/department.ftl
  Resources/Locale/ru-RU/deltav/job/job-description.ftl
  Resources/Locale/ru-RU/deltav/job/job-names.ftl
  Resources/Locale/ru-RU/deltav/job/job-supervisors.ftl
  Resources/Locale/ru-RU/job/department-desc.ftl
  Resources/Locale/ru-RU/job/department.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/markings/moth.ftl
  Resources/Locale/ru-RU/navmap-beacons/station-beacons.ftl
  Resources/Locale/ru-RU/nyanotrasen/abilities/Oni.ftl
  Resources/Locale/ru-RU/nyanotrasen/abilities/borgs.ftl
  Resources/Locale/ru-RU/nyanotrasen/abilities/felinid.ftl
  Resources/Locale/ru-RU/nyanotrasen/accent/accents.ftl
  Resources/Locale/ru-RU/nyanotrasen/advertisements/vending/maildrobe.ftl
  Resources/Locale/ru-RU/nyanotrasen/barsign/barsign-component.ftl
  Resources/Locale/ru-RU/nyanotrasen/carrying/carry.ftl
  Resources/Locale/ru-RU/nyanotrasen/chemistry/effects.ftl
  Resources/Locale/ru-RU/nyanotrasen/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/nyanotrasen/items/components/pseudoitem-component.ftl
  Resources/Locale/ru-RU/nyanotrasen/job/job-description.ftl
  Resources/Locale/ru-RU/nyanotrasen/job/job-names.ftl
  Resources/Locale/ru-RU/nyanotrasen/kitchen/deep-fryer-component.ftl
  Resources/Locale/ru-RU/nyanotrasen/markings/felinid.ftl
  Resources/Locale/ru-RU/nyanotrasen/markings/moth.ftl
  Resources/Locale/ru-RU/nyanotrasen/markings/oni.ftl
  Resources/Locale/ru-RU/nyanotrasen/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/nyanotrasen/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/nyanotrasen/prototypes/fills/crates/syndicate-crates.ftl
  Resources/Locale/ru-RU/nyanotrasen/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/nyanotrasen/reagents/meta/consumable/drink/drink.ftl
  Resources/Locale/ru-RU/nyanotrasen/reagents/meta/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/nyanotrasen/reverse-engineering/reverseengineering.ftl
  Resources/Locale/ru-RU/nyanotrasen/seeds/seeds.ftl
  Resources/Locale/ru-RU/nyanotrasen/species/namepreset.ftl
  Resources/Locale/ru-RU/nyanotrasen/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/nyanotrasen/tools/tool-qualities.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/melee/white_cane.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/traits/categories.ftl
  Resources/Locale/ru-RU/traits/misc.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: Changes: Localization, Changes: YML

#98 UpdateDryDockV15
  Resources/Maps/DryDock.yml
  Resources/Prototypes/Maps/drydock.yml
Labels: Changes: YML, Changes: Map

#89 [Port] Night And Thermal Vision / Ночное И Термальное Зрение
  Content.Client/_White/Overlays/BaseSwitchableOverlay.cs
  Content.Client/_White/Overlays/NightVisionSystem.cs
  Content.Client/_White/Overlays/ThermalVisionOverlay.cs
  Content.Client/_White/Overlays/ThermalVisionSystem.cs
  Content.Server/_White/Overlays/NightVisionSystem.cs
  Content.Server/_White/Overlays/ThermalVisionSystem.cs
  Content.Shared/Body/Components/BodyComponent.cs
  Content.Shared/_White/Overlays/BaseOverlayComponent.cs
  Content.Shared/_White/Overlays/NightVisionComponent.cs
  Content.Shared/_White/Overlays/SwitchableOverlayComponent.cs
  Content.Shared/_White/Overlays/SwitchableOverlaySystem.cs
  Content.Shared/_White/Overlays/ThermalVisionComponent.cs
  Resources/Audio/_White/Items/Goggles/activate.ogg
  Resources/Audio/_White/Items/Goggles/attributions.yml
  Resources/Audio/_White/Items/Goggles/deactivate.ogg
  Resources/Locale/en-US/_white/research/techologies.ftl
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/prototypes/actions/types.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/clothing/eyes/goggles.ftl
  Resources/Locale/ru-RU/_white/research/techologies.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/psionics/oracle.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Prototypes/_White/Actions/types.yml
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Clothing/Eyes/goggles.yml
  Resources/Prototypes/_White/Recipes/Lathes/devices.yml
  Resources/Prototypes/_White/Research/experimental.ftl
  Resources/Prototypes/_White/Shaders/shaders.yml
  Resources/Textures/_White/Clothing/Eyes/Goggles/nightvision.rsi/equipped-EYES-off.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/nightvision.rsi/equipped-EYES.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/nightvision.rsi/icon.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/nightvision.rsi/inhand-left.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/nightvision.rsi/inhand-right.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/nightvision.rsi/meta.json
  Resources/Textures/_White/Clothing/Eyes/Goggles/thermal.rsi/equipped-EYES.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/thermal.rsi/icon.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/thermal.rsi/inhand-left.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/thermal.rsi/inhand-right.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/thermal.rsi/meta.json
  Resources/Textures/_White/Shaders/nightvision.swsl
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Changes: Audio, Status: Needs Review

#102 [Feature] Operative UI Style
  Resources/Locale/en-US/_white/escape-menu/ui/options.ftl
  Resources/Locale/ru-RU/_white/escape-menu/ui/options.ftl
  Resources/Prototypes/_White/hud.yml
  Resources/Prototypes/_White/themes.yml
  Resources/Textures/_White/Interface/Operative/SlotBackground.png
  Resources/Textures/_White/Interface/Operative/Slots/back.png
  Resources/Textures/_White/Interface/Operative/Slots/belt.png
  Resources/Textures/_White/Interface/Operative/Slots/ears.png
  Resources/Textures/_White/Interface/Operative/Slots/ears_extra.png
  Resources/Textures/_White/Interface/Operative/Slots/glasses.png
  Resources/Textures/_White/Interface/Operative/Slots/gloves.png
  Resources/Textures/_White/Interface/Operative/Slots/hand_l.png
  Resources/Textures/_White/Interface/Operative/Slots/hand_l_no_letter.png
  Resources/Textures/_White/Interface/Operative/Slots/hand_r.png
  Resources/Textures/_White/Interface/Operative/Slots/hand_r_no_letter.png
  Resources/Textures/_White/Interface/Operative/Slots/head.png
  Resources/Textures/_White/Interface/Operative/Slots/id.png
  Resources/Textures/_White/Interface/Operative/Slots/mask.png
  Resources/Textures/_White/Interface/Operative/Slots/neck.png
  Resources/Textures/_White/Interface/Operative/Slots/pocket.png
  Resources/Textures/_White/Interface/Operative/Slots/shoes.png
  Resources/Textures/_White/Interface/Operative/Slots/socks.png
  Resources/Textures/_White/Interface/Operative/Slots/suit.png
  Resources/Textures/_White/Interface/Operative/Slots/suit_storage.png
  Resources/Textures/_White/Interface/Operative/Slots/toggle-alt.png
  Resources/Textures/_White/Interface/Operative/Slots/toggle.png
  Resources/Textures/_White/Interface/Operative/Slots/underwearb.png
  Resources/Textures/_White/Interface/Operative/Slots/underweart.png
  Resources/Textures/_White/Interface/Operative/Slots/uniform.png
  Resources/Textures/_White/Interface/Operative/Slots/web.png
  Resources/Textures/_White/Interface/Operative/Slots/wrists.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_bottom.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_bottomLeft.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_bottomRight.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_center.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_left.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_right.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_top.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_topLeft.png
  Resources/Textures/_White/Interface/Operative/Storage/piece_topRight.png
  Resources/Textures/_White/Interface/Operative/Storage/sidebar_bottom.png
  Resources/Textures/_White/Interface/Operative/Storage/sidebar_mid.png
  Resources/Textures/_White/Interface/Operative/Storage/sidebar_top.png
  Resources/Textures/_White/Interface/Operative/Storage/tile_blocked.png
  Resources/Textures/_White/Interface/Operative/Storage/tile_blocked_opaque.png
  Resources/Textures/_White/Interface/Operative/Storage/tile_empty.png
  Resources/Textures/_White/Interface/Operative/Storage/tile_empty_opaque.png
  Resources/Textures/_White/Interface/Operative/slot_highlight.png
  Resources/Textures/_White/Interface/Operative/template_small.png
Labels: Changes: Localization, Changes: YML

#104 [Fix] Fixture / Колизия
  Content.Shared/Projectiles/EmbeddableProjectileComponent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Resources/Prototypes/Entities/Objects/Fun/darts.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Melee/spear.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#111 [Tweak] Magboots / Магнитные Сапоги
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#110 [Port] Footsteps / Следы
  Content.Client/_White/FootPrint/FootPrintsVisualizerSystem.cs
  Content.Server/_White/FootPrint/FootPrintsSystem.cs
  Content.Server/_White/FootPrint/PuddleFootPrintsSystem.cs
  Content.Shared/_White/Footprint/FootPrintComponent.cs
  Content.Shared/_White/Footprint/FootPrintVisuals.cs
  Content.Shared/_White/Footprint/FootPrintsComponent.cs
  Content.Shared/_White/Footprint/PuddleFootPrintsComponent.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/Player/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_White/Entities/Effects/puddle.yml
  Resources/Textures/_White/Effects/footprints.rsi/dragging-1.png
  Resources/Textures/_White/Effects/footprints.rsi/dragging-2.png
  Resources/Textures/_White/Effects/footprints.rsi/dragging-3.png
  Resources/Textures/_White/Effects/footprints.rsi/dragging-4.png
  Resources/Textures/_White/Effects/footprints.rsi/dragging-5.png
  Resources/Textures/_White/Effects/footprints.rsi/dragging-test.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-left-bare-diona.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-left-bare-dwarf.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-left-bare-human.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-left-bare-lizard.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-left-bare-slime.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-left-bare-spider.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-right-bare-diona.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-right-bare-dwarf.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-right-bare-human.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-right-bare-lizard.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-right-bare-slime.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-right-bare-spider.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-shoes.png
  Resources/Textures/_White/Effects/footprints.rsi/footprint-suit.png
  Resources/Textures/_White/Effects/footprints.rsi/meta.json
Labels: Changes: C#, Changes: Sprite, Changes: YML

#109 [Fix] Research / Исследования
  Resources/Prototypes/_White/Research/experimental.yml
Labels: Changes: YML, Status: Needs Review

#107 [Fix] Waddle / Походка Клоуна
  Content.Client/Movement/Systems/WaddleAnimationSystem.cs
  Content.Client/_White/Animations/WaddleAnimationSystem.cs
  Content.Server/_White/Animations/WaddleAnimationSystem.cs
  Content.Shared/Movement/Components/WaddleAnimationComponent.cs
  Content.Shared/_White/Animations/SharedWaddleAnimationSystem.cs
  Content.Shared/_White/Clothing/EntitySystems/WaddleClothingSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#105 [Fix] Butletron / Бутлетрон
  Resources/Prototypes/DeltaV/NPC/roboisseur.yml
Labels: Changes: YML, Status: Needs Review

#106 [Tweak] Fire Alarm Sound
  Content.Server/Atmos/Monitor/Components/AtmosAlarmableComponent.cs
  Resources/Audio/_White/Machines/fire_alarm.ogg
Labels: Changes: C#, Changes: YML, Changes: Audio
