Repository WWhiteDreamProject/wwdpublic, pull requests merged in 2024-09, with the labels that each got.

#34 [Tweak] Rules
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/info/rules.ftl
  Resources/ServerInfo/Ru_rules.txt
Labels: Changes: C#, Changes: Localization

#37 WWDP Logo
  Content.Client/MainMenu/UI/MainMenuControl.xaml.cs
  Content.Replay/Menu/ReplayMainMenuControl.xaml.cs
  Resources/Textures/_White/Logo/icon/icon-128x128.png
  Resources/Textures/_White/Logo/icon/icon-16x16.png
  Resources/Textures/_White/Logo/icon/icon-24x24.png
  Resources/Textures/_White/Logo/icon/icon-256x256.png
  Resources/Textures/_White/Logo/icon/icon-32x32.png
  Resources/Textures/_White/Logo/icon/icon-48x48.png
  Resources/Textures/_White/Logo/icon/icon-64x64.png
  Resources/manifest.yml
Labels: Changes: C#, Changes: UI, Changes: YML

#17 [Feature] Short Construction System / Система Крафтов В Руках
  Content.Client/_White/ShortConstruction/UI/ShortConstructionMenu.xaml
  Content.Client/_White/ShortConstruction/UI/ShortConstructionMenu.xaml.cs
  Content.Client/_White/ShortConstruction/UI/ShortConstructionMenuBUI.cs
  Content.Shared/_White/ShortConstruction/ShortConstructionComponent.cs
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
Labels: Changes: C#, Changes: UI, Changes: YML

#15 [Feature] Added Toggle to magnetPickupSystem / [FIX] Ore Processor Fix
  Content.Shared/Storage/Components/MagnetPickupComponent.cs
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
  Resources/Locale/en-US/storage/components/magnet-pickup-component.ftl
  Resources/Locale/ru-RU/_white/storage/components/magnet-pickup-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag_holding.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/orebag_off.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/orebag_on.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/meta.json
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/orebag_off.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/orebag_on.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#32 [Tweak] Heavy Damage Modifier / Модификатор Урона Тяжелой Атакой
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/chainsaw.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/home_run_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/white_cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Changes: C#, Changes: YML

#45 [Tweak] Adminwho
  Content.Server/Administration/Commands/AdminWhoCommand.cs
Labels: Changes: C#

#44 [Fix] Trown Item / Брошенный Предмет
  Content.Shared/Throwing/ThrownItemComponent.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
Labels: Changes: C#

#43 [Tweak] Prying / Вскрытие
  Content.IntegrationTests/Tests/DoAfter/DoAfterCancellationTests.cs
  Content.Shared/Prying/Components/PryingComponent.cs
  Content.Shared/Prying/Systems/PryingSystem.cs
  Content.Shared/Tools/Components/ToolTileCompatibleComponent.cs
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
Labels: Changes: C#, Changes: Localization

#30 [Port] BackStab / Удар В Спину
  Content.Shared/_White/BackStab/BackStabComponent.cs
  Content.Shared/_White/BackStab/BackStabSystem.cs
  Resources/Locale/en-US/_white/backstab/backstab.ftl
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/backstab/backstab.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Melee/daggers.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#48 [Feature] Bringing back old ahelp sound
  Content.Client/Administration/Systems/BwoinkSystem.cs
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Resources/Audio/Admin/bwoink.ogg
Labels: Changes: C#, Changes: Audio, Status: Needs Review

#52 [FIX] Промах у мусорки
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
Labels: Changes: C#

#54 [Tweak] Правки одежды
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#49 [Feature] Minor races tweaks
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Locale/ru-RU/species/species.ftl
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/reptilian.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#55 [Port] Emotions menu / Меню эмоций
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/MenuBar/GameTopMenuBarUIController.cs
  Content.Client/UserInterface/Systems/MenuBar/Widgets/GameTopMenuBar.xaml
  Content.Client/_White/UI/Emotions/EmotionsUIController.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Shared/Chat/Prototypes/EmotePrototype.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/_white/HUD/game-hud.ftl
  Resources/Locale/en-US/_white/emotes/speech-emotes.ftl
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Locale/en-US/_white/ui/emotions-menu.ftl
  Resources/Locale/en-US/emotes/emotes.ftl
  Resources/Locale/ru-RU/HUD/game-hud.ftl
  Resources/Locale/ru-RU/_white/HUD/game-hud.ftl
  Resources/Locale/ru-RU/_white/emotes/speech-emotes.ftl
  Resources/Locale/ru-RU/_white/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/_white/ui/emotions-menu.ftl
  Resources/Locale/ru-RU/emotes/emotes.ftl
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_White/Voice/speech_emotes.yml
  Resources/Textures/_White/Interface/emotions.svg.192dpi.png
  Resources/Textures/_White/Interface/emotions.svg.192dpi.png.yml
  Resources/keybinds.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#21 [Port] Custom Ghost's
  Content.Client/_White/CustomGhostSpriteSystem/CustomGhostVisualizer.cs
  Content.Server/_White/CustomGhostSpriteSystem/CustomGhostSpriteSystem.cs
  Content.Shared/_White/CustomGhostSystem/CustomGhostPrototype.cs
  Resources/Prototypes/_White/Ghosts/custom_ghosts.yml
  Resources/Textures/_White/Ghosts/cheese_cheese-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/cheese_cheese-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/dageff-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/dageff-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/frostnova-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/frostnova-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/krokozyabra-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/krokozyabra-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/mapperian-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/mapperian-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/nairsark-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/nairsark-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/persikvin-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/persikvin-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/reider207-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/reider207-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/s_k_r_i_m_e_x-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/s_k_r_i_m_e_x-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/scituzer2-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/scituzer2-ghost.rsi/meta.json
  Resources/Textures/_White/Ghosts/suzuran.rsi/animated.png
  Resources/Textures/_White/Ghosts/suzuran.rsi/meta.json
  Resources/Textures/_White/Ghosts/warete-ghost.rsi/animated.png
  Resources/Textures/_White/Ghosts/warete-ghost.rsi/meta.json
Labels: Changes: C#, Changes: Sprite, Changes: YML

#57 [Port] Log Actions In The Chat / Логирование Действий В Чат
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/Popups/PopupSystem.cs
  Content.Shared/_White/CVars.cs
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/_white/escape-menu/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#53 [Feature] StepTriggerGroup to improve StepTriggerImmune behaviour
  Content.Shared/StepTrigger/Components/StepTriggerComponent.cs
  Content.Shared/StepTrigger/Components/StepTriggerImmuneComponent.cs
  Content.Shared/StepTrigger/Prototypes/StepTriggerGroup.cs
  Content.Shared/StepTrigger/Prototypes/StepTriggerTypePrototype.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Devices/mousetrap.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Fun/dice.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/land_mine.yml
  Resources/Prototypes/Entities/Objects/Misc/spider_web.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Entities/Tiles/bananium.yml
  Resources/Prototypes/Entities/Tiles/chasm.yml
  Resources/Prototypes/Entities/Tiles/lava.yml
  Resources/Prototypes/Entities/Tiles/liquid_plasma.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/StepTrigger/StepTriggerTypes.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#56 [Port] Respawn Button / Кнопка Респавна
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/_White/Ghost/GhostReturnToRoundSystem.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Content.Shared/_White/CVars.cs
  Resources/Locale/en-US/_white/ghost/ghost-gui.ftl
  Resources/Locale/en-US/_white/ghost/ghost-respawn.ftl
  Resources/Locale/ru-RU/_white/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/_white/ghost/ghost-respawn.ftl
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#58 [Port] Hristov / Христов | [Port] Manual Sending Of The Cartridge / Ручное Досылание Патрона
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/BallisticAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Content.Shared/Wieldable/WieldableSystem.cs
  Resources/Audio/_White/Guns/attributions.yml
  Resources/Audio/_White/Guns/insert.ogg
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/_White/Objects/Weapons/Guns/Snipers/hristov-icons.rsi/base.png
  Resources/Textures/_White/Objects/Weapons/Guns/Snipers/hristov-icons.rsi/bolt-open.png
  Resources/Textures/_White/Objects/Weapons/Guns/Snipers/hristov-icons.rsi/icon.png
  Resources/Textures/_White/Objects/Weapons/Guns/Snipers/hristov-icons.rsi/mag-0.png
  Resources/Textures/_White/Objects/Weapons/Guns/Snipers/hristov-icons.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Guns/Snipers/hristov-inhands.rsi/equipped-BACKPACK.png
  Resources/Textures/_White/Objects/Weapons/Guns/Snipers/hristov-inhands.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Guns/Snipers/hristov-inhands.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Weapons/Guns/Snipers/hristov-inhands.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Guns/Snipers/hristov-inhands.rsi/wielded-inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Guns/Snipers/hristov-inhands.rsi/wielded-inhand-right.png
Labels: Changes: C#, Changes: Sprite, Changes: YML, Changes: Audio, Status: Needs Review

#66 [Fix] Emotion / Эмоции
  Resources/Locale/ru-RU/_white/emotes/speech-emotes.ftl
Labels: Changes: Localization, Status: Needs Review

#67 [Port] Ru Keycodes / Русские Ключи Радиоканалов
  Content.Client/Silicons/Laws/Ui/LawDisplay.xaml.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Radio/RadioChannelPrototype.cs
  Resources/Prototypes/DeltaV/radio_channels.yml
  Resources/Prototypes/radio_channels.yml
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#64 [Fix] Lobby / Лобби
  Content.Client/Lobby/UI/LobbyGui.xaml
Labels: Changes: UI, Status: Needs Review

#61 [Fix] Screen / Экран
  Resources/Textures/Effects/text.rsi/meta.json
  Resources/Textures/Effects/text.rsi/а.png
  Resources/Textures/Effects/text.rsi/б.png
  Resources/Textures/Effects/text.rsi/в.png
  Resources/Textures/Effects/text.rsi/г.png
  Resources/Textures/Effects/text.rsi/д.png
  Resources/Textures/Effects/text.rsi/е.png
  Resources/Textures/Effects/text.rsi/ж.png
  Resources/Textures/Effects/text.rsi/з.png
  Resources/Textures/Effects/text.rsi/и.png
  Resources/Textures/Effects/text.rsi/й.png
  Resources/Textures/Effects/text.rsi/к.png
  Resources/Textures/Effects/text.rsi/л.png
  Resources/Textures/Effects/text.rsi/м.png
  Resources/Textures/Effects/text.rsi/н.png
  Resources/Textures/Effects/text.rsi/о.png
  Resources/Textures/Effects/text.rsi/п.png
  Resources/Textures/Effects/text.rsi/р.png
  Resources/Textures/Effects/text.rsi/с.png
  Resources/Textures/Effects/text.rsi/т.png
  Resources/Textures/Effects/text.rsi/у.png
  Resources/Textures/Effects/text.rsi/ф.png
  Resources/Textures/Effects/text.rsi/х.png
  Resources/Textures/Effects/text.rsi/ц.png
  Resources/Textures/Effects/text.rsi/ч.png
  Resources/Textures/Effects/text.rsi/ш.png
  Resources/Textures/Effects/text.rsi/щ.png
  Resources/Textures/Effects/text.rsi/ъ.png
  Resources/Textures/Effects/text.rsi/ы.png
  Resources/Textures/Effects/text.rsi/ь.png
  Resources/Textures/Effects/text.rsi/э.png
  Resources/Textures/Effects/text.rsi/ю.png
  Resources/Textures/Effects/text.rsi/я.png
Labels: Changes: Sprite, Status: Needs Review

#60 [Port] Small Energy Crossbow / Маленький Энергетический Арбалет
  Content.Shared/Eye/Blinding/Components/BlurryVisionComponent.cs
  Content.Shared/_White/Collision/Blur/BlurOnCollideComponent.cs
  Content.Shared/_White/Collision/Blur/BlurOnCollideSystem.cs
  Content.Shared/_White/Collision/Knockdown/KnockdownOnCollideComponent.cs
  Content.Shared/_White/Collision/Knockdown/KnockdownOnCollideSystem.cs
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/weapons/guns/battery/ebow.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/Battery/mini_ebow.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/Projectiles/bolts..yml
  Resources/Prototypes/status_effects.yml
  Resources/Textures/_White/Objects/Weapons/Guns/Battery/mini-ebow.rsi/bolt.png
  Resources/Textures/_White/Objects/Weapons/Guns/Battery/mini-ebow.rsi/empty.png
  Resources/Textures/_White/Objects/Weapons/Guns/Battery/mini-ebow.rsi/icon.png
  Resources/Textures/_White/Objects/Weapons/Guns/Battery/mini-ebow.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Guns/Battery/mini-ebow.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Weapons/Guns/Battery/mini-ebow.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Guns/Projectiles/ebolt.rsi/bullet.png
  Resources/Textures/_White/Objects/Weapons/Guns/Projectiles/ebolt.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#62 [Tweak] Melee / Ближнее Оружие
  Content.Server/_White/Melee/BackStab/BackStabComponent.cs
  Content.Server/_White/Melee/BackStab/BackStabSystem.cs
  Content.Server/_White/Melee/Crit/CritComponent.cs
  Content.Server/_White/Melee/Crit/CritSystem.cs
  Resources/Locale/en-US/_white/backstab/backstab.ftl
  Resources/Locale/en-US/_white/melee/backstab.ftl
  Resources/Locale/en-US/_white/melee/crit.ftl
  Resources/Locale/ru-RU/_white/backstab/backstab.ftl
  Resources/Locale/ru-RU/_white/melee/backstab.ftl
  Resources/Locale/ru-RU/_white/melee/crit.ftl
Labels: Changes: C#, Changes: Localization, Status: Needs Review

#63 [Port] Experimental Teleporter / Экспериментальный Телепортатор
  Content.Server/_White/Teleporter/ExperimentalTeleporterComponent.cs
  Content.Server/_White/Teleporter/ExperimentalTeleporterSystem.cs
  Resources/Audio/_White/Object/Devices/attributions.yml
  Resources/Audio/_White/Object/Devices/experimentalsyndicateteleport.ogg
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/device/syndicate_gadgets/experimental-teleporter.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Effects/effects.yml
  Resources/Prototypes/_White/Entities/Objects/Devices/Syndicate_Gadgets/experimental_teleporter.yml
  Resources/Textures/_White/Objects/Devices/experimentalsyndicateteleporter.rsi/icon.png
  Resources/Textures/_White/Objects/Devices/experimentalsyndicateteleporter.rsi/in.png
  Resources/Textures/_White/Objects/Devices/experimentalsyndicateteleporter.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Devices/experimentalsyndicateteleporter.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Devices/experimentalsyndicateteleporter.rsi/meta.json
  Resources/Textures/_White/Objects/Devices/experimentalsyndicateteleporter.rsi/out.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Changes: Audio, Status: Needs Review

#68 DryDock update
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/DryDock.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/drydock.yml
Labels: Changes: C#, Changes: Map

#70 Change logo in the readme
  README.md
Labels: Changes: Documentation
