Repository WWhiteDreamProject/wwdpublic, pull requests merged in 2024-08, with the labels that each got.

#4 Sheets, Moved From SkyratTG (+ New Inhand of Plasteel)
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass-inhand-left.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass-inhand-right.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass-inhand-left.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass-inhand-right.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass-inhand-left.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass-inhand-right.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass-inhand-left.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass-inhand-right.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/ruglass-inhand-left.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/ruglass-inhand-right.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/ruglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/ruglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/ruglass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/uglass-inhand-left.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/uglass-inhand-right.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/uglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/uglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/uglass_3.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel-inhand-left.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel-inhand-right.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel_2.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel_3.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/steel.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/steel_2.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/steel_3.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plastic.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plastic_2.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plastic_3.png
Labels: Changes: Sprite

#8 [Port] Telescope System / Система Прицеливания
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/_White/Telescope/TelescopeSystem.cs
  Content.Server/_White/Telescope/TelescopeSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/_White/CVars.cs
  Content.Shared/_White/Telescope/SharedTelescopeSystem.cs
  Content.Shared/_White/Telescope/TelescopeComponent.cs
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/_white/escape-menu/options-menu.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/keybinds.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#5 Emp Flashlight
  Content.Server/_White/EmpFlashlight/EmpOnHitComponent.cs
  Content.Server/_White/EmpFlashlight/EmpOnHitSystem.cs
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/tools/empflashlight.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Objects/Tools/EmpFlashlight.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#2 [Port] Lying Down System / Система Лежания
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/_White/Standing/LayingDownSystem.cs
  Content.Server/Standing/LayingDownComponent.cs
  Content.Server/Standing/LayingDownSystem.cs
  Content.Server/Traits/Assorted/LayingDownModifierSystem.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/_White/CVars.cs
  Content.Shared/_White/Standing/LayingDownComponent.cs
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/_white/escape-menu/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#13 [Tweak] Press To Walk / Нажать Чтобы Идти
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#

#14 [Fix] Antags Refactor Fix
  Content.IntegrationTests/Pair/TestPair.Helpers.cs
  Content.IntegrationTests/PoolManager.cs
  Content.IntegrationTests/Tests/GameRules/AntagPreferenceTest.cs
  Content.IntegrationTests/Tests/GameRules/NukeOpsTest.cs
  Content.IntegrationTests/Tests/Interaction/Click/InteractionSystemTests.cs
  Content.IntegrationTests/Tests/ResettingEntitySystemTests.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/Antag/AntagSelectionSystem.API.cs
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/Rules/SecretRuleSystem.cs
  Content.Server/Preferences/Managers/IServerPreferencesManager.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Shared/Antag/AntagAcceptability.cs
  Content.Shared/Roles/Jobs/SharedJobSystem.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
Labels: Changes: C#

#19 [Port] BlinkSystem / Система Телепортации
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/_White/Blink/BlinkSystem.cs
  Content.Shared/_White/Blink/BlinkComponent.cs
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/weapons/melee/daggers.ftl
  Resources/Prototypes/_White/Entities/Objects/Weapons/Melee/daggers.yml
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/betrayal_knife.rsi/icon.png
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/betrayal_knife.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/betrayal_knife.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Weapons/Melee/Daggers/betrayal_knife.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML

#11 [Port] Discounts In Uplink / Скидки В Аплинке
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Server/_White/StoreDiscount/StoreDiscountSystem.cs
  Content.Shared/Store/ListingLocalisationHelpers.cs
  Content.Shared/Store/ListingPrototype.cs
  Content.Shared/Store/StorePresetPrototype.cs
  Content.Shared/_White/StoreDiscount/SalesSpecifier.cs
  Resources/Locale/en-US/_white/store/sales.ftl
  Resources/Locale/ru-RU/_white/store/sales.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Store/presets.yml
  Resources/Prototypes/_White/Store/categories.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#9 [Port] Aspects / Аспекты
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Holiday/Christmas/RandomGiftSystem.cs
  Content.Server/_White/AspectsSystem/Aspects/Components/ImmersiveAspectComponent.cs
  Content.Server/_White/AspectsSystem/Aspects/Components/LandmineAspectComponent.cs
  Content.Server/_White/AspectsSystem/Aspects/Components/NothingAspectComponent.cs
  Content.Server/_White/AspectsSystem/Aspects/Components/PresentAspectComponent.cs
  Content.Server/_White/AspectsSystem/Aspects/Components/ReflectAspectComponent.cs
  Content.Server/_White/AspectsSystem/Aspects/Components/TraitorRichAspectComponent.cs
  Content.Server/_White/AspectsSystem/Aspects/Components/TraitoredAspectComponent.cs
  Content.Server/_White/AspectsSystem/Aspects/ImmersiveAspect.cs
  Content.Server/_White/AspectsSystem/Aspects/LandmineAspect.cs
  Content.Server/_White/AspectsSystem/Aspects/NothingAspect.cs
  Content.Server/_White/AspectsSystem/Aspects/PresentAspect.cs
  Content.Server/_White/AspectsSystem/Aspects/ReflectAspect.cs
  Content.Server/_White/AspectsSystem/Aspects/TraitorRichAspect.cs
  Content.Server/_White/AspectsSystem/Aspects/TraitoredAspect.cs
  Content.Server/_White/AspectsSystem/Base/AspectComponent.cs
  Content.Server/_White/AspectsSystem/Base/AspectSystem.cs
  Content.Server/_White/AspectsSystem/Commands/AspectCommands.cs
  Content.Server/_White/AspectsSystem/Managers/AspectManager.cs
  Content.Server/_White/Other/GiftIgnoreComponent.cs
  Content.Server/_White/Other/ReflectAspectMarkComponent.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/_White/CVars.cs
  Resources/Audio/_White/Aspects/accent.ogg
  Resources/Audio/_White/Aspects/attributions.yml
  Resources/Audio/_White/Aspects/palevo.ogg
  Resources/Locale/en-US/_white/aspects/aspects.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Debugging/debug_sweps.yml
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_assembly.yml
  Resources/Prototypes/Entities/Structures/base_structure.yml
  Resources/Prototypes/_White/Aspects/Aspects.yml
  Resources/Prototypes/_White/Aspects/AspectsEntity.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Audio

#31 [Port] Advanced Prying
  Resources/Locale/en-US/tools/tool-qualities.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/_White/tool_qualities.yml
Labels: Changes: Localization, Changes: YML

#27 Fix Link in Readme
  README.md
Labels: Changes: Documentation

#6 [Port] Энергетический Меч / Energy Sword
  Content.Client/_White/Animations/FlipOnHitSystem.cs
  Content.Client/_White/Animations/FlippingComponent.cs
  Content.Server/Construction/ConstructionSystem.Graph.cs
  Content.Server/_White/Animations/FlipOnHitSystem.cs
  Content.Shared/Item/ItemToggle/SharedItemToggleSystem.cs
  Content.Shared/_White/Animations/FlipOnHitComponent.cs
  Content.Shared/_White/Animations/SharedFlipOnHitSystem.cs
  Content.Shared/_White/Wield/ToggleableWieldedComponent.cs
  Content.Shared/_White/Wield/ToggleableWieldedSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/_White/Recipes/hidden_crafts.yml
  Resources/Prototypes/_White/tags.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#10 [Port] Melee Block / Блок В Ближнем Бою
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnEventSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.Spillable.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/Alert/AlertType.cs
  Content.Shared/Blocking/BlockingSystem.User.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Weapons/Melee/MeleeThrowOnHitSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/_White/Blocking/BlockBlockerComponent.cs
  Content.Shared/_White/Blocking/MeleeBlockComponent.cs
  Content.Shared/_White/Blocking/MeleeBlockSystem.cs
  Resources/Locale/en-US/_white/alerts/alerts.ftl
  Resources/Locale/en-US/_white/block/melee-block.ftl
  Resources/Locale/ru-RU/_white/alerts/alerts.ftl
  Resources/Locale/ru-RU/_white/block/melee-block.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks-cartons.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/trash_drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/status_effects.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review
