Repository WWhiteDreamProject/wwdpublic, pull requests merged in 2024-11, with the labels that each got.

#115 [Revert] Fire Alarm Sound / Звук Пожарной Тревоги
  Content.Server/Atmos/Monitor/Components/AtmosAlarmableComponent.cs
  Resources/Audio/_White/Machines/fire_alarm.ogg
Labels: Changes: C#, Changes: YML, Changes: Audio, Status: Needs Review

#119 UbratHalloweenIzRuk
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: YML

#118 [Tweak] Secret / Секрет
  Resources/Prototypes/secret_weights.yml
Labels: Changes: YML, Status: Needs Review

#117 Add new map box
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Moose.yml
  Resources/Maps/WhiteBox.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/whitebox.yml
Labels: Changes: C#, Changes: YML, Changes: Map

#108 [Tweak] Pickaxe / Кирка
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
Labels: Changes: YML, Status: Needs Review

#112 [Tweak] Holoprojector / Голопроектрор
  Content.Server/Holosign/HolosignProjectorComponent.cs
  Content.Server/Holosign/HolosignSystem.cs
  Content.Server/_White/Holosign/HolosignComponent.cs
  Content.Server/_White/Holosign/HolosignSystem.cs
  Resources/Locale/en-US/_white/holoprojector/holoprojector.ftl
  Resources/Locale/ru-RU/_white/holoprojector/holoprojector.ftl
  Resources/Migrations/migration.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Recipes/Lathes/janitorial.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#99 [Fix/Tweak] Auto shift end and Benches / Авто завершение смены и скамьи
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Changes: Sprite, Changes: YML, Status: Merge Conflict

#122 Alert translations
  Resources/Locale/ru-RU/psionics/noospheric-storm.ftl
  Resources/Locale/ru-RU/station-events/events/vent-clog.ftl
  Resources/Locale/ru-RU/station-events/events/vent-critters.ftl
  Resources/Locale/ru-RU/station-events/events/xeno-vent.ftl
Labels: Changes: Localization, Changes: YML

#126 Reenable Executions
  Content.Server/Execution/ExecutionSystem.cs
Labels: Changes: C#, Changes: YML

#120 [Feature] Advanced Body Bags / Продвинутые Мешки для Тел
  Resources/Locale/ru-RU/_white/catalog/fills/boxes/medical.ftl
  Resources/Locale/ru-RU/_white/object/specific/medical/bodybags.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_White/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/_White/Entities/Objects/Specific/Medical/bodybags.yml
  Resources/Prototypes/_White/Recipes/Lathes/body_bags.yml
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/bluespace.rsi/bluespacebag.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/bluespace.rsi/bluespacebag_folded.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/bluespace.rsi/label_overlay.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/bluespace.rsi/meta.json
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/bluespace.rsi/open_overlay.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/label_overlay.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/meta.json
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/ntbag.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/ntbag_folded.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/open_overlay.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/prison.rsi/label_overlay.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/prison.rsi/meta.json
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/prison.rsi/open_overlay.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/prison.rsi/prisonerbag.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/prison.rsi/prisonerbag_folded.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/radiation.rsi/label_overlay.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/radiation.rsi/meta.json
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/radiation.rsi/open_overlay.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/radiation.rsi/radiationbag.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/radiation.rsi/radiationbag_folded.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/syndicate.rsi/label_overlay.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/syndicate.rsi/meta.json
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/syndicate.rsi/open_overlay.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/syndicate.rsi/syndicatebag.png
  Resources/Textures/_White/Objects/Specific/Medical/BodyBags/syndicate.rsi/syndicatebag_folded.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML

#128 [Tweak] Operative UI Adaptation
  Resources/Prototypes/_White/themes.yml
  Resources/Textures/_White/Interface/Operative/Slots/hand_l.png
  Resources/Textures/_White/Interface/Operative/Slots/hand_l_no_letter.png
  Resources/Textures/_White/Interface/Operative/Slots/hand_r.png
  Resources/Textures/_White/Interface/Operative/Slots/hand_r_no_letter.png
  Resources/Textures/_White/Interface/Operative/Slots/web.png
  Resources/Textures/_White/Interface/Operative/item_status_left.png
  Resources/Textures/_White/Interface/Operative/item_status_left_highlight.png
  Resources/Textures/_White/Interface/Operative/item_status_right.png
  Resources/Textures/_White/Interface/Operative/item_status_right_highlight.png
  Resources/Textures/_White/Interface/Operative/slot_highlight.png
Labels: Changes: YML

#130 [Fix] Mass Bug Fix
  Content.Client/Arcade/BlockGameMenu.cs
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Jittering/JitteringSystem.cs
  Content.Client/Light/EntitySystems/LightBehaviorSystem.cs
  Content.Client/Light/EntitySystems/RotatingLightSystem.cs
  Content.Client/Salvage/UI/SalvageMagnetBoundUserInterface.cs
  Content.Client/_White/Animations/WaddleAnimationSystem.cs
  Content.Server/Arcade/BlockGame/BlockGame.Ui.cs
  Content.Server/Construction/Components/WelderRefinableComponent.cs
  Content.Server/Disposal/Tube/DisposalTubeSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/MagicMirror/MagicMirrorSystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Server/Silicon/WeldingHealable/WeldingHealableSystem.cs
  Content.Server/StationEvents/Events/PirateRadioSpawnRule.cs
  Content.Server/_White/Animations/WaddleAnimationSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Buckle/Components/BuckleComponent.cs
  Content.Shared/Buckle/Components/StrapComponent.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
  Content.Shared/Buckle/SharedBuckleSystem.Strap.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/MagicMirror/MagicMirrorComponent.cs
  Content.Shared/MagicMirror/SharedMagicMirrorSystem.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Movement/Components/WaddleAnimationComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/_White/Animations/SharedWaddleAnimationSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/mirror.yml
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
  Resources/Prototypes/_White/tags.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#127 [Add/Tweak] Ru Announcement / Оповещения на русском
  Content.Shared/CCVar/CCVars.cs
  Resources/Audio/Announcers/RuOld/alerts/attributions.yml
  Resources/Audio/Announcers/RuOld/alerts/blue.ogg
  Resources/Audio/Announcers/RuOld/alerts/delta.ogg
  Resources/Audio/Announcers/RuOld/alerts/delta_alt.ogg
  Resources/Audio/Announcers/RuOld/alerts/epsilon.ogg
  Resources/Audio/Announcers/RuOld/alerts/gamma.ogg
  Resources/Audio/Announcers/RuOld/alerts/notice1.ogg
  Resources/Audio/Announcers/RuOld/alerts/notice2.ogg
  Resources/Audio/Announcers/RuOld/alerts/red.ogg
  Resources/Audio/Announcers/RuOld/attributions.yml
  Resources/Audio/Announcers/RuOld/bloblarm.ogg
  Resources/Audio/Announcers/RuOld/comms/aliens.ogg
  Resources/Audio/Announcers/RuOld/comms/announce.ogg
  Resources/Audio/Announcers/RuOld/comms/attention.ogg
  Resources/Audio/Announcers/RuOld/comms/war.ogg
  Resources/Audio/Announcers/RuOld/comms/welcome.ogg
  Resources/Audio/Announcers/RuOld/events/gasleak_end.ogg
  Resources/Audio/Announcers/RuOld/events/gasleak_start.ogg
  Resources/Audio/Announcers/RuOld/events/meteors_end.ogg
  Resources/Audio/Announcers/RuOld/events/meteors_start.ogg
  Resources/Audio/Announcers/RuOld/events/power_off.ogg
  Resources/Audio/Announcers/RuOld/events/power_on.ogg
  Resources/Audio/Announcers/RuOld/events/random_sentience.ogg
  Resources/Audio/Announcers/RuOld/events/vent_clog.ogg
  Resources/Audio/Announcers/RuOld/fallback.ogg
  Resources/Audio/Announcers/RuOld/shuttle/called.ogg
  Resources/Audio/Announcers/RuOld/shuttle/dock.ogg
  Resources/Audio/Announcers/RuOld/shuttle/recalled.ogg
  Resources/Audio/Announcers/RuOld/unused/outbreak7.ogg
  Resources/Audio/Announcers/RuOld/unused/radiation.ogg
  Resources/Prototypes/Announcers/ruold.yml
Labels: Changes: C#, Changes: YML, Changes: Audio
