Repository WWhiteDreamProject/wwdpublic, pull requests merged in 2025-01, with the labels that each got.

#159 [педальные раздатчики] настолько заебался что даже шутить уже не хочется
  Content.Client/_White/Event/EventItemDispenserConfigBoundUserInterface.cs
  Content.Client/_White/Event/EventItemDispenserSystem.cs
  Content.Server/_White/Event/EventEntityDispenser/EventItemDispenserSystem.cs
  Content.Shared/UserInterface/ActivatableUIComponent.cs
  Content.Shared/Weapons/Ranged/Events/TakeAmmoEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Content.Shared/_White/Event/EventEntityDispenserComponent.cs
  Content.Shared/_White/Event/SharedEventEntityDispenserSystem.cs
  Resources/Locale/en-US/_white/Event/eventItemDispenser.ftl
  Resources/Locale/ru-RU/_white/Event/eventItemDispenser.ftl
  Resources/Prototypes/_White/Entities/Effects/effects.yml
  Resources/Prototypes/_White/Entities/Structures/Misc/EventDispensers.yml
  Resources/Prototypes/_White/Shaders/shaders.yml
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_yellow.rsi/icon.png
  Resources/Textures/_White/Shaders/flickerhologram.swsl
  Resources/Textures/_White/Structures/Misc/EventItemDispenser.rsi/base.png
  Resources/Textures/_White/Structures/Misc/EventItemDispenser.rsi/base_glow.png
  Resources/Textures/_White/Structures/Misc/EventItemDispenser.rsi/hands.png
  Resources/Textures/_White/Structures/Misc/EventItemDispenser.rsi/lamp_glow.png
  Resources/Textures/_White/Structures/Misc/EventItemDispenser.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#223 [Fix] Harpy Flight
  Content.Client/Flight/FlyingVisualizerSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#221 [Tweak] Craftable Bonfire
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
  Resources/Prototypes/_White/Recipes/Construction/Graphs/structures/bonfire.yml
  Resources/Prototypes/_White/Recipes/Construction/bonfire.yml
Labels: Changes: YML
