Repository WWhiteDreamProject/wwdpublic, pull requests merged in 2025-06, with the labels that each got.

#531 [TWEAK] Actually great for game
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, Status: Needs Review

#533 [TWEAK] Fish chances buff in fishing
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Fishing/loot_tables.yml
Labels: Changes: YML

#545 [Fix] Enforcer is semi auto again
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: Changes: YML, Status: Needs Review

#459 [Tweak] Smol Rol Timers
  Resources/Prototypes/DeltaV/Roles/Jobs/Command/administrative_assistant.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Prototypes/_White/Roles/Jobs/Command/maid.yml
Labels: Changes: YML, Status: Needs Review

#546 [Fix] More worn gun visuals
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/jackdaw.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/jackdaw.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/musket.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/musket.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/musket.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/tenebra.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/tenebra.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/vulcan.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/vulcan.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/SMGs/typewriter.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/SMGs/typewriter.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universal.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universal.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universalnl.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universalnl.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Snipers/ceremonial_grand.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Snipers/ceremonial_grand.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Snipers/grand_rifle.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Snipers/grand_rifle.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Guns/Snipers/hristov-inhands.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_White/Objects/Weapons/Guns/Snipers/hristov-inhands.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#547 [Tweak] .45 Pistol
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: Changes: YML

#548 [Fix] Booby Trap Collision
  Resources/Prototypes/_White/Entities/Structures/Other/traps.yml
Labels: Changes: YML, Status: Needs Review

#538 [TWEAK/ADD] блудный сын вернулся
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/device/whetstone.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/bardrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/detdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sustenance.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/syndiedrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/vendomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/virodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/weebvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/_White/Catalog/VendingMachines/Inventories/CaptainDrobeInventory.yml
  Resources/Prototypes/_White/Entities/Objects/Devices/Whetstone.yml
  Resources/Textures/_White/Objects/Devices/whetstone.rsi/icon.png
  Resources/Textures/_White/Objects/Devices/whetstone.rsi/icon_off.png
  Resources/Textures/_White/Objects/Devices/whetstone.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML

#543 [Add] Matchbox Autolathe Recipe
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
Labels: Changes: YML, Status: Needs Review

#549 [Fix] Damage Modifiers on Examine + Locale
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML

#552 [Fix] Infinite Crit
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML

#553 [Remove] Shitty PDA Loadouts
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Command/headOfPersonnel.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/logisticsOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
Labels: Changes: YML

#536 [ADD] HEX в маптул
  Content.Client/Mapping/MappingScreen.xaml
  Content.Client/Mapping/MappingScreen.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#544 [Add] Abandoning Your Listening Post = DEATH
  Content.Server/_White/PreventGridLeave/PreventGridLeaveComponent.cs
  Content.Server/_White/PreventGridLeave/PreventGridLeaveSystem.cs
  Resources/Locale/en-US/_white/popups/preventgridleave.ftl
  Resources/Locale/ru-RU/_white/popups/preventgridleave.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/human.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#560 [Feature] Ai subvert
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Shared/Silicons/Laws/Components/EmagSiliconLawComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#568 [Disable] Crawling Under Tables
  Content.Shared/CCVar/CCVars.LayingDown.cs
Labels: Changes: C#, Changes: YML

#566 [Tweak] Structural Damage
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets/turrets_base.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets/turrets_broken.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/base_structuremachines.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/fatextractor.yml
  Resources/Prototypes/Entities/Structures/Machines/medical_scanner.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/emitter.yml
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/catwalk.yml
  Resources/Prototypes/Entities/Structures/meat_spike.yml
  Resources/Prototypes/Entities/Structures/soil.yml
  Resources/Prototypes/Entities/Structures/stairs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/slantedwalls.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/tallwalls.yml
Labels: Changes: YML, Status: Needs Review

#571 [Tweak] Рецепт создания секретных дверей
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/secretdoor.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: Changes: YML, Status: Needs Review

#574 [Fix] Melee Damage Examine
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
Labels: Changes: C#, Changes: YML

#581 [Tweak] Emag Is Back
  Resources/Locale/ru-RU/deltav/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/locales-new/autotranslate-33.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/tools/emag.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#590 [Fix] Xeno Queen Gibbing On Hit When Thrown
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: Changes: YML

#591 [Tweak] Belt Gear Sounds
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: Changes: YML

#567 [Port Feature] И снова ИИ кукловод
  Content.Client/Robotics/UI/RoboticsConsoleWindow.xaml.cs
  Content.Client/_White/Silicons/Borgs/AiRemoteControlSystem.cs
  Content.Client/_White/Silicons/Laws/Ui/RemoteDeviceDisplay.xaml
  Content.Client/_White/Silicons/Laws/Ui/RemoteDeviceDisplay.xaml.cs
  Content.Client/_White/Silicons/Laws/Ui/RemoteDevicesBoundUserInterface.cs
  Content.Client/_White/Silicons/Laws/Ui/RemoteDevicesMenu.xaml
  Content.Client/_White/Silicons/Laws/Ui/RemoteDevicesMenu.xaml.cs
  Content.Server/Silicons/Borgs/BorgSwitchableTypeSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.Transponder.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Server/_White/Silicons/Borgs/AiRemoteControlSystem.cs
  Content.Shared/Robotics/RoboticsConsoleUi.cs
  Content.Shared/Silicons/Laws/SharedSiliconLawSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Held.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/StationAiHeldComponent.cs
  Content.Shared/_White/Silicons/Borgs/Components/AiRemoteBrainComponent.cs
  Content.Shared/_White/Silicons/Borgs/Components/SharedAiRemoteControllerComponent.cs
  Content.Shared/_White/Silicons/Borgs/SharedAiRemoteControlSystem.cs
  Resources/Locale/en-US/_white/silicons/ai-remote.ftl
  Resources/Locale/ru-RU/_white/prototypes/actions/station_ai.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/specific/robotics/airemote.ftl
  Resources/Locale/ru-RU/_white/silicons/ai-remote.ftl
  Resources/Locale/ru-RU/prototypes/entities/mobs/cyborgs/base_borg_chassis.ftl
  Resources/Locale/ru-RU/prototypes/entities/mobs/cyborgs/borg_chassis.ftl
  Resources/Locale/ru-RU/prototypes/entities/mobs/player/silicon.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_White/Actions/station_ai.yml
  Resources/Prototypes/_White/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_White/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_White/Entities/Objects/Specific/Robotics/airemote.yml
  Resources/Prototypes/_White/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_White/Research/experimental.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#600 [ADD] Зрение КПБ / Vision IPC
  Content.Client/CombatMode/CombatModeIndicatorsOverlay.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Overlays/CRTVisionOverlay.cs
  Content.Client/Overlays/CRTVisionSystem.cs
  Content.Shared/_White/Traits/Assorted/Components/CRTVisionComponent.cs
  Content.Shared/_White/Traits/Assorted/Components/StudioVisorComponent.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Locale/ru-RU/prototypes/entities/mobs/Customization/ipcScreens.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/_White/Shaders/crt_vision.yml
  Resources/Prototypes/_White/Traits/vision.yml
  Resources/Textures/_White/Shaders/crt_vision.swsl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#604 [Fix] Structure Damage
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: Changes: YML

#610 [fix] extremely loud incorrect buzzer
  Content.Client/_White/DollyMixture/DollyMixtureSystem.cs
Labels: Changes: C#, Changes: YML

#613 [Add] More Butcherable Clothes
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/robes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/_EE/Entities/Clothing/OuterClothing/jackets.yml
  Resources/Prototypes/_White/Entities/Clothing/OuterClothing/coats.yml
Labels: Changes: YML, Status: Needs Review

#616 [Tweak] Security Masks In Lockers
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_White/Loadouts/Jobs/security.yml
Labels: Changes: YML

#615 [Remove] Conditional Desriptions On Antag Gear
  Resources/Prototypes/Entities/Objects/Specific/revolutionary.yml
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Goobstation/Entities/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: Changes: YML

#618 [Fix] Nano Med
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#611 [Fix] Climbing
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/biomass_reclaimer.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/medical_scanner.yml
  Resources/Prototypes/Entities/Structures/Walls/railing.yml
  Resources/Prototypes/Entities/Structures/cryopod.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/deep_fryer.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/laundry.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/barricades.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/table.yml
Labels: Changes: C#, Changes: YML

#614 [Add] Syndicate Gear Kits
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/tools/empflashlight.ftl
  Resources/Prototypes/_White/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
Labels: Changes: Localization, Changes: YML

#633 [Fix] Map Job Tests
  Resources/Prototypes/Maps/Molecule.yml
  Resources/Prototypes/Maps/anchor.yml
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/cyberiad.yml
  Resources/Prototypes/Maps/drydock.yml
  Resources/Prototypes/Maps/gaxstation.yml
  Resources/Prototypes/Maps/glacier.yml
  Resources/Prototypes/Maps/hammurabi.yml
  Resources/Prototypes/Maps/hive.yml
  Resources/Prototypes/Maps/lambda.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/pebble.yml
  Resources/Prototypes/Maps/radstation.yml
  Resources/Prototypes/Maps/shoukou.yml
  Resources/Prototypes/Maps/submarine.yml
  Resources/Prototypes/Maps/tortuga.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#622 [Fix] Melee Executions
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/WhiteDream/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Melee/hosbat.yml
Labels: Changes: YML, Status: Needs Review

#624 [Tweak] Cool Update #99
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/guns/ammunition/boxes/antimaterial.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Specific/Security/barrier.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/antimateriel.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/Battery/mini_ebow.yml
Labels: Changes: Localization, Changes: YML

#625 [Fix] Sign Language TTS
  Content.Server/_White/TTS/TTSSystem.cs
Labels: Changes: C#, Changes: YML

#626 [Fix] Surgery Speed
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/operating_table.yml
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/_Shitmed/Entities/Mobs/Player/abductor.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
  Resources/Prototypes/_Shitmed/GameRules/events.yml
  Resources/Prototypes/_White/GameRules/midround.yml
Labels: Changes: YML, Status: Needs Review

#634 [fix] [возможно, но не точно] a steroids
  Content.Server/Weapons/Ranged/Systems/GunSystem.AutoFire.cs
  Content.Server/_White/Procedural/Systems/StartingAsteroidFieldSystem.cs
Labels: Changes: C#, Changes: YML

#641 [add] кириллица
  Content.Client/Crayon/UI/CrayonWindow.xaml
  Content.Client/Crayon/UI/CrayonWindow.xaml.cs
  Resources/Locale/en-US/_white/ui/crayon.ftl
  Resources/Locale/ru-RU/_white/ui/crayon.ftl
  Resources/Prototypes/_White/Decals/crayons.yml
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/meta.json
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/б.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/г.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/д.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/ж.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/з.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/и.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/й.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/л.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/п.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/ф.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/ц.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/ч.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/ш.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/щ.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/ъ.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/ы.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/ь.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/э.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/ю.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/я.png
  Resources/Textures/_White/Effects/crayonmoonrunes.rsi/ё.png
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: Sprite, Changes: YML, Status: Needs Review

#646 hotfix resprite
  Content.Tools/test/0A.yml
  Content.Tools/test/0B.yml
  Content.Tools/test/0C.yml
Labels: Changes: YML

#648 tabulation mess up
  Resources/Prototypes/Tiles/floors.yml
Labels: Changes: YML, Status: Needs Review, Status: Merge Conflict

#650 [Fix] Wonder Test
  Content.Server/Procedural/DungeonSystem.Rooms.cs
  Resources/Migrations/WWDPMigration.yml
  Resources/Prototypes/Tiles/floors.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#631 [Fix] Limit Lathe UI Queue Length
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Resources/Locale/en-US/_white/lathe/lathe.ftl
  Resources/Locale/ru-RU/_white/lathe/lathe.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#632 [Tweak] Ores 1984
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
Labels: Changes: YML, Status: Needs Review
