Repository WWhiteDreamProject/wwdpublic, pull requests merged in 2025-07, with the labels that each got.

#639 Minor psionics changes
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/Psionics/psionics.yml
Labels: Changes: YML, Status: Needs Review

#635 [Add] Alert Level Locks
  Content.Server/_White/Lockers/StationAlertLevelLockSystem.cs
  Content.Shared/Lock/LockSystem.cs
  Content.Shared/_White/Lockers/SharedStationAlertLevelLockSystem.cs
  Content.Shared/_White/Lockers/StationAlertLevelLockComponent.cs
  Resources/Locale/en-US/_white/lockers/station-alert-level-lock.ftl
  Resources/Locale/ru-RU/_white/lockers/station-alert-level-lock.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/glass_box.yml
  Resources/Prototypes/_White/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#640 [TWEAK] Firelocks
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
Labels: Changes: YML

#651 [Tweak] Medical Machinery visual tweaks
  Resources/Prototypes/Entities/Structures/Dispensers/chem.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Textures/Structures/dispensers.rsi/industrial-display.png
  Resources/Textures/Structures/dispensers.rsi/industrial-off.png
  Resources/Textures/Structures/dispensers.rsi/industrial-working.png
  Resources/Textures/Structures/dispensers.rsi/industrial.png
  Resources/Textures/Structures/dispensers.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#653 [fix] Assteroids
  Content.Client/_White/AntiParkinsons/AntiParkinsonsSystem.cs
  Content.Server/_White/Procedural/Systems/StartingAsteroidFieldSystem.cs
  Resources/Prototypes/_White/Ghosts/custom_ghosts.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#664 [Fix] Temperature
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#662 [FIX] BBcode in IC
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#661 [Tweak] Another structure damage update
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_structures.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/base_structurelockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
Labels: Changes: YML

#665 [Fix] Xray cannon
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/Projectiles/bolts.yml
Labels: Changes: YML, Status: Needs Review

#666 [Fix] FloorTechMaint2
  Resources/Prototypes/Tiles/floors.yml
Labels: Changes: YML

#667 мышка иди нахуй
  Resources/Prototypes/Tiles/floors.yml
Labels: Changes: YML, Status: Needs Review

#669 [Fix/Tweak] "Heal no longer automatically stands you up"
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review, GD-APPROVED

#652 [add] psionic power
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.Functions.cs
  Content.Server/_White/Abilities/Psionics/Abilities/ClonePowerSystem.cs
  Content.Shared/_White/Actions/Events/ClonePowerActionEvent.cs
  Content.Shared/_White/Psionics/Abilities/Clone/ClonePowerComponent.cs
  Content.Shared/_White/Psionics/Abilities/Clone/PsionicCloneComponent.cs
  Resources/Locale/en-US/_white/abilities/psionic.ftl
  Resources/Locale/ru-RU/_white/abilities/agillity.ftl
  Resources/Locale/ru-RU/_white/abilities/psionic.ftl
  Resources/Prototypes/Psionics/PsionicPowerPool.yml
  Resources/Prototypes/_White/Actions/psionics.yml
  Resources/Prototypes/_White/Psionics/psionics.yml
  Resources/Textures/_White/Interface/Actions/psionic_clone.rsi/create.png
  Resources/Textures/_White/Interface/Actions/psionic_clone.rsi/meta.json
  Resources/Textures/_White/Interface/Actions/psionic_clone.rsi/swap.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#673 [Fix] Boxes/magazine's examine. And UseButton for extract.
  Content.Client/Weapons/Ranged/Systems/GunSystem.Ballistic.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Ballistic.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Labels: Changes: C#, Changes: YML

#674 [tweak] Отражение лазеров жилету 33->65
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: Changes: YML, Status: Needs Review

#675 [FIX] отображение языка в IC чате
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
Labels: Changes: Localization, Changes: YML

#679 [Fix] Ointment stack
  Resources/Prototypes/Stacks/medical_stacks.yml
Labels: Changes: YML, Status: Needs Review

#685 Перевод генокрадов 4real
  Resources/Locale/ru-RU/_Goobstation/Changeling/abilities/changeling.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/administration/antag.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/alerts/alerts.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/game-ticking/game-presets/preset-changeling.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/guidebook/guides.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/objectives/changeling.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/popup/changeling.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/radio_channels.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/store/categories.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/store/changeling-catalog.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/store/currency.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
Labels: Changes: Localization, Changes: YML

#688 [tweak] Костыль-фикс карпа
  Content.Shared/_White/Grab/GrabThrownSystem.cs
Labels: Changes: C#, Changes: YML

#696 [Tweak] Update Ru Loc For Emergency Shuttle Announcement
  Resources/Locale/ru-RU/shuttles/emergency.ftl
Labels: Changes: Localization, Changes: YML

#668 Revert "[Fix/Tweak] Vendomats and smuggling (#621)"
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Emag/Systems/EmagSystem.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
  Resources/Audio/_White/Effects/attributions.yml
  Resources/Audio/_White/Effects/beep_long.ogg
  Resources/Locale/en-US/emag/emag.ftl
  Resources/Locale/ru-RU/emag/emag.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Audio, Status: Needs Review, GD-APPROVED

#706 [FIX] плохой я тестировщик
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/_White/Entities/Objects/Misc/landmines/ChemMine.yml
Labels: Changes: YML, Status: Needs Review

#703 [Fix] Grids
  Resources/Maps/Misc/terminal.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Vertex.yml
  Resources/Maps/Shuttles/ShuttleEvent/cruiser.yml
  Resources/Maps/Shuttles/ShuttleEvent/cryptid.yml
  Resources/Maps/Shuttles/ShuttleEvent/eternal.yml
  Resources/Maps/Shuttles/ShuttleEvent/flatline.yml
  Resources/Maps/Shuttles/ShuttleEvent/gym.yml
  Resources/Maps/Shuttles/ShuttleEvent/incorporation.yml
  Resources/Maps/Shuttles/ShuttleEvent/instigator.yml
  Resources/Maps/Shuttles/ShuttleEvent/joe.yml
  Resources/Maps/Shuttles/ShuttleEvent/lambordeere.yml
  Resources/Maps/Shuttles/ShuttleEvent/meatzone.yml
  Resources/Maps/Shuttles/ShuttleEvent/quark.yml
  Resources/Maps/Shuttles/ShuttleEvent/spacebus.yml
  Resources/Maps/_White/Shuttles/emergency_turtle.yml
  Resources/Maps/glacier.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#710 Генокрады снова анонимны + небольшой багфикс эффектов эмоций
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/_Goobstation/Changeling/ChangelingSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/_White/Changeling/ChangelingHivemindSystem.cs
  Content.Shared/Chat/SharedChatEvents.cs
  Content.Shared/_White/Changeling/ChangelingHivemindNameComponent.cs
  Resources/Locale/en-US/_white/Changeling/ChangelingNames.ftl
  Resources/Locale/ru-RU/_white/Changeling/ChangelingNames.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#690 [ADD] Очки охраны теперь могут менять статус розыска
  Content.Client/_White/Glasses/Systems/SecurityGlassesWantedStatusSystem.cs
  Content.Client/_White/Glasses/UI/SecurityGlassesRadialMenu.cs
  Content.Server/_White/Glasses/Systems/SecurityGlassesWantedStatusSystem.cs
  Content.Shared/_White/Glasses/Components/SecurityGlassesWantedStatusComponent.cs
  Content.Shared/_White/Glasses/Systems/SharedSecurityGlassesWantedStatusSystem.cs
  Resources/Locale/en-US/_white/glasses-wanted-status.ftl
  Resources/Locale/ru-RU/_white/glasses-wanted-status.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#718 [Fix] Grids
  Resources/Maps/CentralCommand/harmony.yml
  Resources/Maps/CentralCommand/main.yml
  Resources/Maps/Misc/terminal.yml
  Resources/Maps/glacier.yml
Labels: Changes: YML, Changes: Map

#725 [Fix] Test
  Resources/Prototypes/Body/Parts/ipc.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Maps/gaxstation.yml
  Resources/Prototypes/Maps/hive.yml
  Resources/Prototypes/_White/Tiles/migration.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#731 VelikoFixHZChego [Fix CentCom]
  Resources/Maps/CentralCommand/harmony.yml
  Resources/Maps/CentralCommand/main.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map
