Repository WWhiteDreamProject/wwdpublic, pull requests merged in 2025-08, with the labels that each got.

#738 VelikoFixVelikoFixaVelikoFixa
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Shuttles/Components/StationCentcommComponent.cs
  Resources/Maps/_White/Moose.yml
  Resources/Maps/_White/WhiteMeta.yml
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Maps/CentralCommand/harmony.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Changes: Map

#737 [FIX] Масло не масло
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/deep_fryer.yml
Labels: Changes: YML, Status: Needs Review

#739 [Fix] Выключение зернистости при включённом режиме совместимости
  Content.Client/Entry/EntryPoint.cs
Labels: Changes: C#, Changes: YML

#746 [Fix] Grab
  Content.Shared/Movement/Pulling/Components/PullableComponent.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#763 [Fix] Lizard Displacements
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: Changes: YML

#786 [FIX] Куст
  Content.Server/Store/Systems/StoreSystem.Refund.cs
  Content.Server/_Goobstation/Teleportation/Systems/PocketDimensionSystem.cs
  Resources/Locale/ru-RU/storage/components/secret-stash-component.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#776 [tweak] overcooked attempt 2
  Content.Client/Weapons/Ranged/GunSpreadOverlay.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.AmmoCounter.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Client/_White/Guns/GunOverheatSystem.cs
  Content.Client/_White/UI/BarControl.cs
  Content.Server/DeltaV/Weapons/Ranged/Systems/EnergyGunSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/_White/Guns/GunFluxSystem.cs
  Content.Server/_White/Guns/GunOverheatSystem.cs
  Content.Shared/Verbs/VerbCategory.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/_White/Guns/GunRegulatorLampComponent.cs
  Content.Shared/_White/Guns/GunTemperatureRegulatorComponent.cs
  Content.Shared/_White/Guns/SharedGunFluxSystem.cs
  Content.Shared/_White/Guns/SharedGunOverheatSystem.cs
  Resources/Locale/ru-RU/WWDP_TRANSLATION/_MainS/entity.ftl
  Resources/Locale/ru-RU/WWDP_TRANSLATION/_white/prototypes/entities/objects/weapons/guns/temperature_regulator.ftl
  Resources/Locale/ru-RU/WWDP_TRANSLATION/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/Turrets/turret_base.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/flux_cores.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/overheat.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/regulator_lamp.yml
  Resources/Prototypes/_White/Recipes/Lathes/security.yml
  Resources/Prototypes/_White/tags.yml
  Resources/Textures/_White/Interface/gun-flux-readout-empty.png
  Resources/Textures/_White/Interface/gun-flux-readout-fill.png
  Resources/Textures/_White/Interface/gun-flux-readout-mark.png
  Resources/Textures/_White/Objects/Weapons/Guns/Flux/smallfluxcore.rsi/base.png
  Resources/Textures/_White/Objects/Weapons/Guns/Flux/smallfluxcore.rsi/flux-0.png
  Resources/Textures/_White/Objects/Weapons/Guns/Flux/smallfluxcore.rsi/flux-1.png
  Resources/Textures/_White/Objects/Weapons/Guns/Flux/smallfluxcore.rsi/flux-2.png
  Resources/Textures/_White/Objects/Weapons/Guns/Flux/smallfluxcore.rsi/flux-3.png
  Resources/Textures/_White/Objects/Weapons/Guns/Flux/smallfluxcore.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Guns/Flux/standardfluxcore.rsi/base.png
  Resources/Textures/_White/Objects/Weapons/Guns/Flux/standardfluxcore.rsi/flux-0.png
  Resources/Textures/_White/Objects/Weapons/Guns/Flux/standardfluxcore.rsi/flux-1.png
  Resources/Textures/_White/Objects/Weapons/Guns/Flux/standardfluxcore.rsi/flux-2.png
  Resources/Textures/_White/Objects/Weapons/Guns/Flux/standardfluxcore.rsi/flux-3.png
  Resources/Textures/_White/Objects/Weapons/Guns/Flux/standardfluxcore.rsi/flux-4.png
  Resources/Textures/_White/Objects/Weapons/Guns/Flux/standardfluxcore.rsi/flux-5.png
  Resources/Textures/_White/Objects/Weapons/Guns/Flux/standardfluxcore.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/adv.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/base.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/filament.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/filamentburned.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/glass.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/glassbroken.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#797 god fucking damn it
  Content.Shared/_White/Guns/SharedGunFluxSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#773 Фикс дизарма и неизвестного типа урона + фикс локализации стульев + немного перевода
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Shared/Damage/Systems/DamageExamineSystem.cs
  Resources/Locale/ru-RU/WWDP_TRANSLATION/_MainS/entity.ftl
  Resources/Locale/ru-RU/WWDP_TRANSLATION/prototypes/entities/objects/weapons/guns/ammunition/cartridges/antimaterial.ftl
  Resources/Locale/ru-RU/WWDP_TRANSLATION/prototypes/entities/objects/weapons/guns/snipers/snipers.ftl
  Resources/Locale/ru-RU/WWDP_TRANSLATION/prototypes/entities/structures/walls/base_structurewalls.ftl
  Resources/Locale/ru-RU/WWDP_TRANSLATION/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/_Goobstation/datasets/figurines.ftl
  Resources/Locale/ru-RU/_Goobstation/devil/contracts/contract.ftl
  Resources/Locale/ru-RU/damage/damage-examine.ftl
  Resources/Locale/ru-RU/damage/damage-force-say.ftl
  Resources/Locale/ru-RU/damage/damage-groups.ftl
  Resources/Locale/ru-RU/damage/damage-types.ftl
  Resources/Prototypes/Datasets/corporations.yml
  Resources/Prototypes/Datasets/criminal_records.yml
  Resources/Prototypes/Datasets/ion_storm.yml
  Resources/Prototypes/Datasets/psionic-records.yml
  Resources/Prototypes/Datasets/rat_king_commands.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#809 [Feat] Discord Changelog Should Now Ping Roles
  Tools/actions_changelogs_since_last_run.py
Labels: Changes: YML, Status: Needs Review

#811 Make Theobromine gud (very gud)
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: Changes: YML, Status: Needs Review

#813 psi-kasino nerf
  Content.Server/Psionics/PsionicsSystem.cs
  Resources/Prototypes/Psionics/PsionicPowerPool.yml
  Resources/Prototypes/Psionics/psionics.yml
Labels: Changes: C#, Changes: YML

#814 telepathy
  Content.Server/_White/Abilities/Psionics/Abilities/DirectionalTelepathySystem.cs
  Content.Shared/_White/Actions/Events/DirectionalTelepathyActionEvent.cs
  Resources/Locale/en-US/_white/abilities/psionic.ftl
  Resources/Locale/ru-RU/_white/abilities/psionic.ftl
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Prototypes/_White/Actions/psionics.yml
  Resources/Textures/_White/Interface/Actions/telepathy.rsi/icon.png
  Resources/Textures/_White/Interface/Actions/telepathy.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML

#820 TempChange MapPool + 3 Adds
  Resources/Locale/ru-RU/WWDP_TRANSLATION/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Maps/_White/Kettle.yml
  Resources/Maps/_White/Moose.yml
  Resources/Maps/_White/WhiteMeta.yml
  Resources/Maps/_White/WonderBox.yml
  Resources/Prototypes/Maps/Kettle.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/WhiteMeta.yml
  Resources/Prototypes/Maps/Wonderbox.yml
  Resources/Prototypes/Maps/anchor.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/gaxstation.yml
  Resources/Prototypes/_White/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Structures/Wallmounts/mirror.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/mirror.rsi/mirror.png
  Resources/Textures/Structures/Wallmounts/mirror.rsi/mirror_broke.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/anchor.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review, Changes: Map
