Repository WWhiteDreamProject/wwdpublic, pull requests merged in 2025-05, with the labels that each got.

#482 [Tweak] Шрифт абдукторов
  Resources/Prototypes/Language/Species-Specific/Xeeplian.yml
Labels: Changes: YML

#483 [Port] Room spawner mask
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/Procedural/DungeonSystem.Rooms.cs
  Content.Server/Procedural/RoomFillComponent.cs
  Content.Server/Procedural/RoomFillSystem.cs
  Content.Shared/Procedural/DungeonRoomPrototype.cs
  Resources/Prototypes/Entities/Markers/rooms.yml
  Resources/Prototypes/_White/Entities/Markers/rooms.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#485 [Fix] Upstream
  Content.Shared/Containers/ContainerFillSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#480 [Add & Tweak] Подрезание ИИ
  Content.Client/Silicons/StationAi/StationAiOverlay.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMicrophoneSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Held.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/StationAiOverlayComponent.cs
  Content.Shared/SurveillanceCamera/Components/SurveillanceCameraComponent.cs
  Resources/Locale/ru-RU/prototypes/entities/mobs/player/silicon.ftl
  Resources/Prototypes/Actions/station_ai.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_White/Actions/station_ai.yml
  Resources/Prototypes/_White/Recipes/Construction/Graphs/structures/ai_construction.yml
  Resources/Textures/_White/Interface/Actions/actions_ai.rsi/camera.png
  Resources/Textures/_White/Interface/Actions/actions_ai.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#478 [ADD] Мы ахуеем
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Server/VoiceMask/VoiceMaskComponent.cs
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Content.Server/_White/Examine/ExaminableCharacterHideIconComponent.cs
  Content.Server/_White/Examine/ExaminableCharacterSystem.cs
  Content.Shared/Strip/Components/StripMenuHideIconComponent.cs
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/clothing/Shoes/modsuits.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/clothing/belt/modsuits.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/clothing/hands/modsuits.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/clothing/head/modsuits.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/clothing/outerclothing/modsuits.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Clothing/Belt/modsuits.yml
  Resources/Prototypes/_White/Entities/Clothing/Hands/modsuit.yml
  Resources/Prototypes/_White/Entities/Clothing/Head/modsuits.yml
  Resources/Prototypes/_White/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_White/Entities/Clothing/OuterClothing/modsuits.yml
  Resources/Prototypes/_White/Entities/Clothing/Shoes/modsuits.yml
  Resources/Textures/_White/Clothing/Belt/Modsuits/Infiltrator.rsi/control-sealed.png
  Resources/Textures/_White/Clothing/Belt/Modsuits/Infiltrator.rsi/control.png
  Resources/Textures/_White/Clothing/Belt/Modsuits/Infiltrator.rsi/equipped-BELT-sealed.png
  Resources/Textures/_White/Clothing/Belt/Modsuits/Infiltrator.rsi/equipped-BELT.png
  Resources/Textures/_White/Clothing/Belt/Modsuits/Infiltrator.rsi/meta.json
  Resources/Textures/_White/Clothing/Hands/modsuits/infiltrator.rsi/equipped-HAND-sealed.png
  Resources/Textures/_White/Clothing/Hands/modsuits/infiltrator.rsi/equipped-HAND.png
  Resources/Textures/_White/Clothing/Hands/modsuits/infiltrator.rsi/gauntlets-sealed.png
  Resources/Textures/_White/Clothing/Hands/modsuits/infiltrator.rsi/gauntlets.png
  Resources/Textures/_White/Clothing/Hands/modsuits/infiltrator.rsi/meta.json
  Resources/Textures/_White/Clothing/Head/modsuits/Infiltrator.rsi/equipped-HEAD-sealed.png
  Resources/Textures/_White/Clothing/Head/modsuits/Infiltrator.rsi/equipped-HEAD.png
  Resources/Textures/_White/Clothing/Head/modsuits/Infiltrator.rsi/helmet-sealed.png
  Resources/Textures/_White/Clothing/Head/modsuits/Infiltrator.rsi/helmet.png
  Resources/Textures/_White/Clothing/Head/modsuits/Infiltrator.rsi/meta.json
  Resources/Textures/_White/Clothing/OuterClothing/modsuits/infiltrator.rsi/chestplate-sealed.png
  Resources/Textures/_White/Clothing/OuterClothing/modsuits/infiltrator.rsi/chestplate.png
  Resources/Textures/_White/Clothing/OuterClothing/modsuits/infiltrator.rsi/equipped-OUTERCLOTHING-sealed.png
  Resources/Textures/_White/Clothing/OuterClothing/modsuits/infiltrator.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_White/Clothing/OuterClothing/modsuits/infiltrator.rsi/meta.json
  Resources/Textures/_White/Clothing/Shoes/modsuits/infiltrator.rsi/boots-sealed.png
  Resources/Textures/_White/Clothing/Shoes/modsuits/infiltrator.rsi/boots.png
  Resources/Textures/_White/Clothing/Shoes/modsuits/infiltrator.rsi/equipped-FEET-sealed.png
  Resources/Textures/_White/Clothing/Shoes/modsuits/infiltrator.rsi/equipped-FEET.png
  Resources/Textures/_White/Clothing/Shoes/modsuits/infiltrator.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML

#488 Fix Cult
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/WhiteDream/BloodCult/Gamerule/BloodCultRuleSystem.cs
  Content.Server/_White/Throwing/ReturnItemOnThrowComponent.cs
  Content.Server/_White/Throwing/ReturnItemOnThrowSystem.cs
  Content.Shared/WhiteDream/BloodCult/Items/CultItemSystem.cs
  Resources/Locale/en-US/_white/throwing.ftl
  Resources/Locale/ru-RU/_white/cult/item.ftl
  Resources/Locale/ru-RU/_white/throwing.ftl
  Resources/Locale/ru-RU/white-dream/cult/items/general.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/WhiteDream/Entities/Objects/Items/cult.yml
  Resources/Prototypes/WhiteDream/Entities/Objects/Structures/Cult/factories.yml
  Resources/Prototypes/WhiteDream/Entities/Objects/Weapons/Melee/cult.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#498 [TWEAK] Make krio grate again
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_White/Reagents/gases.yml
Labels: Changes: YML, Status: Needs Review

#494 [Fix] Bugs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/_White/Throwing/ReturnItemOnThrowSystem.cs
  Content.Server/_White/Throwing/ThrowingItemModifierSystem.cs
  Content.Shared/CCVar/CCVars.Atmos.cs
  Content.Shared/Damage/Systems/SharedDamageOtherOnHitSystem.cs
  Resources/Prototypes/WhiteDream/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/_White/Entities/Clothing/Belt/modsuits.yml
Labels: Changes: C#, Changes: YML

#495 [Revert] Magboots Refactor
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Body/Systems/InternalsSystem.cs
  Content.Shared/Clothing/ClothingSpeedModifierComponent.cs
  Content.Shared/Clothing/ClothingSpeedModifierSystem.cs
  Content.Shared/Clothing/EntitySystems/ToggleableClothingSystem.cs
  Content.Shared/Clothing/MagbootsComponent.cs
  Content.Shared/Clothing/MagbootsSystem.cs
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Loadouts/Generic/species.yml
  Resources/Prototypes/_EE/Entities/Clothing/BieselRepublic/Modsuits/legionnaire.yml
  Resources/Prototypes/_EE/Entities/Clothing/Neck/magmantles.yml
  Resources/Prototypes/_EE/Entities/Clothing/SolAlliance/SAN/Modsuits/CSA-85x.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/apocryphal.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/corporate.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/engineering-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/inquisitory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/janitorial-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/leader-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/medical-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/praetorian.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/security-responsory.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/modsuit.yml
  Resources/Prototypes/_TG/Entities/Clothing/Modsuits/SyndicateModsuits.yml
  Resources/Textures/_EE/Clothing/Neck/Mantles/magmantle.rsi/equipped-NECK.png
  Resources/Textures/_EE/Clothing/Neck/Mantles/magmantle.rsi/icon-on.png
  Resources/Textures/_EE/Clothing/Neck/Mantles/magmantle.rsi/icon.png
  Resources/Textures/_EE/Clothing/Neck/Mantles/magmantle.rsi/meta.json
  Resources/Textures/_EE/Clothing/Neck/Mantles/magmantle.rsi/on-equipped-NECK.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/icon-on.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/icon.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/meta.json
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/icon-on.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/icon.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/meta.json
Labels: Changes: C#, Changes: Sprite, Changes: YML, Status: Needs Review

#496 [Fix] Thermal Vision
  Content.Shared/Overlays/Switchable/ThermalVisionComponent.cs
Labels: Changes: C#, Changes: YML

#501 [Add] TVR sign
  Resources/Locale/ru-RU/_white/prototypes/entities/structures/wallmounts/sign/sign.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Prototypes/_White/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Structures/Wallmounts/signs.rsi/anomaly.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/anomaly2.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signs.rsi/xenoarch.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/ame.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/arrivals.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/boxing.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/brig.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/captain.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/check.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/court.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/dorms.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/drones.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/equip.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/evac.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/gate.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/genetics.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/hop.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/hydro.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/meta.json
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/miner_dock.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/nukevault.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/pa.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/shield.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/smes.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/solar.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/storage.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/theatre.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/toilet.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/toxins2.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/tvr_sign1.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/tvr_sign2.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/32x32.rsi/xenolab.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/64x32.rsi/meta.json
  Resources/Textures/_White/Structures/Wallmounts/Signs/64x32.rsi/tvr_sign_neon.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/64x32.rsi/tvr_sign_neon_off.png
  Resources/Textures/_White/Structures/Wallmounts/Signs/64x32.rsi/tvr_sign_neon_on.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#499 [TWEAK] Бредик не апстримим
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/weapons/guns/ammunition/cartriges/shotgun.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_TG/uplink_catalog.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#510 [Add] Фейковать культ теперь веселее
  Resources/Prototypes/WhiteDream/Entities/Objects/Runes/cult.yml
  Resources/Prototypes/_White/Decals/crayons.yml
  Resources/Textures/WhiteDream/BloodCult/Entities/Runes/regular.rsi/barrier.png
  Resources/Textures/WhiteDream/BloodCult/Entities/Runes/regular.rsi/blood_boil.png
  Resources/Textures/WhiteDream/BloodCult/Entities/Runes/regular.rsi/empower.png
  Resources/Textures/WhiteDream/BloodCult/Entities/Runes/regular.rsi/offering.png
  Resources/Textures/WhiteDream/BloodCult/Entities/Runes/regular.rsi/revive.png
  Resources/Textures/WhiteDream/BloodCult/Entities/Runes/regular.rsi/spirit_realm.png
  Resources/Textures/WhiteDream/BloodCult/Entities/Runes/regular.rsi/strength.png
  Resources/Textures/WhiteDream/BloodCult/Entities/Runes/regular.rsi/summon.png
  Resources/Textures/WhiteDream/BloodCult/Entities/Runes/regular.rsi/teleport.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#512 [ADD] Radoha experience
  Resources/Locale/en-US/_white/traits/traits.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/effects/gib.ftl
  Resources/Locale/ru-RU/_white/traits/traits.ftl
  Resources/Prototypes/_White/Entities/Effects/gib.yml
  Resources/Prototypes/_White/Traits/traits.yml
  Resources/Textures/_White/Effects/gib.rsi/gib.png
  Resources/Textures/_White/Effects/gib.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#509 Day of the dolly mixture
  Content.Client/_White/DollyMixture/DollyMixtureComponent.cs
  Content.Client/_White/DollyMixture/DollyMixtureSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets/turrets_ballistic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets/turrets_base.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/Turrets/turret_base_3d.yml
  Resources/Textures/Objects/Weapons/Guns/Turrets/turrets.rsi/dm1.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/turrets.rsi/dm2.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/turrets.rsi/dm3-unshaded.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/turrets.rsi/dm3.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/turrets.rsi/dm4.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/turrets.rsi/dm5.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/turrets.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Turrets/turrets.rsi/syndie_base.png
Labels: Changes: C#, Changes: Sprite, Changes: YML

#500 Hot reload
  Content.Client/Weapons/Ranged/Systems/GunSystem.AmmoCounter.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Client/_White/Guns/GunOverheatSystem.cs
  Content.Client/_White/UI/BarControl.cs
  Content.Server/DeltaV/Weapons/Ranged/Components/EnergyGunComponent.cs
  Content.Server/DeltaV/Weapons/Ranged/Systems/EnergyGunSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Server/_White/Guns/GunOverheatSystem.cs
  Content.Shared/Verbs/VerbCategory.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Battery.cs
  Content.Shared/_White/Guns/GunRegulatorLampComponent.cs
  Content.Shared/_White/Guns/GunTemperatureRegulatorComponent.cs
  Content.Shared/_White/Guns/SharedGunOverheatSystem.cs
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/weapons/guns/temperature_regulator.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/regulator_lamp.yml
  Resources/Prototypes/_White/Recipes/Lathes/security.yml
  Resources/Textures/_White/Interface/VerbIcons/fireselector.192dpi.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/adv.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/base.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/filament.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/filamentburned.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/glass.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/glassbroken.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML

#511 [Fix] Dugeon
  Content.Server/Procedural/DungeonSystem.Rooms.cs
  Content.Server/Procedural/DungeonSystem.cs
Labels: Changes: C#, Changes: YML

#515 Перевод абдукторской фигни
  Resources/Locale/ru-RU/_Shitmed/abductor/abductor-ui.ftl
  Resources/Locale/ru-RU/_Shitmed/abductor/abductor.ftl
  Resources/Locale/ru-RU/_Shitmed/abductor/names.ftl
  Resources/Locale/ru-RU/_Shitmed/guidebook/guides.ftl
  Resources/Prototypes/_Shitmed/Datasets/Names/abductor.yml
  Resources/ServerInfo/_Shitmed/Guidebook/Antagonist/Abductors.xml
Labels: Changes: Documentation, Changes: Localization, Changes: YML, Status: Needs Review

#517 Revert "Hot reload"
  Content.Client/Weapons/Ranged/Systems/GunSystem.AmmoCounter.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Client/_White/Guns/GunOverheatSystem.cs
  Content.Client/_White/UI/BarControl.cs
  Content.Server/DeltaV/Weapons/Ranged/Components/EnergyGunComponent.cs
  Content.Server/DeltaV/Weapons/Ranged/Systems/EnergyGunSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Server/_White/Guns/GunOverheatSystem.cs
  Content.Shared/Verbs/VerbCategory.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Battery.cs
  Content.Shared/_White/Guns/GunRegulatorLampComponent.cs
  Content.Shared/_White/Guns/GunTemperatureRegulatorComponent.cs
  Content.Shared/_White/Guns/SharedGunOverheatSystem.cs
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/weapons/guns/temperature_regulator.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/regulator_lamp.yml
  Resources/Prototypes/_White/Recipes/Lathes/security.yml
  Resources/Textures/_White/Interface/VerbIcons/fireselector.192dpi.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/adv.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/base.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/filament.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/filamentburned.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/glass.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/glassbroken.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#518 Hot reload 2: Electric Boogaloo
  Content.Client/Weapons/Ranged/Systems/GunSystem.AmmoCounter.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Client/_White/Guns/GunOverheatSystem.cs
  Content.Client/_White/UI/BarControl.cs
  Content.Server/DeltaV/Weapons/Ranged/Components/EnergyGunComponent.cs
  Content.Server/DeltaV/Weapons/Ranged/Systems/EnergyGunSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Server/_White/Guns/GunOverheatSystem.cs
  Content.Shared/Verbs/VerbCategory.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Battery.cs
  Content.Shared/_White/Guns/GunRegulatorLampComponent.cs
  Content.Shared/_White/Guns/GunTemperatureRegulatorComponent.cs
  Content.Shared/_White/Guns/SharedGunOverheatSystem.cs
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/weapons/guns/temperature_regulator.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/regulator_lamp.yml
  Resources/Prototypes/_White/Recipes/Lathes/security.yml
  Resources/Textures/_White/Interface/VerbIcons/fireselector.192dpi.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/adv.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/base.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/filament.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/filamentburned.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/glass.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/glassbroken.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML

#519 [Tweak] Dungeon Spawn
  Content.Server/Procedural/RoomFillSystem.cs
  Resources/Prototypes/_White/Entities/Markers/rooms.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#523 Revert "[Fix] Regulator Lamp Visuals"
  Content.Shared/_White/Guns/SharedGunOverheatSystem.cs
Labels: Changes: C#, Changes: YML

#525 Reapply "Hot reload 2: Electric Boogaloo" (#524)
  Content.Client/Weapons/Ranged/Systems/GunSystem.AmmoCounter.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Client/_White/Guns/GunOverheatSystem.cs
  Content.Client/_White/UI/BarControl.cs
  Content.Server/DeltaV/Weapons/Ranged/Components/EnergyGunComponent.cs
  Content.Server/DeltaV/Weapons/Ranged/Systems/EnergyGunSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Server/_White/Guns/GunOverheatSystem.cs
  Content.Shared/Verbs/VerbCategory.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Battery.cs
  Content.Shared/_White/Guns/GunRegulatorLampComponent.cs
  Content.Shared/_White/Guns/GunTemperatureRegulatorComponent.cs
  Content.Shared/_White/Guns/SharedGunOverheatSystem.cs
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/weapons/guns/temperature_regulator.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/regulator_lamp.yml
  Resources/Prototypes/_White/Recipes/Lathes/security.yml
  Resources/Textures/_White/Interface/VerbIcons/fireselector.192dpi.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/adv.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/base.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/filament.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/filamentburned.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/glass.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/glassbroken.png
  Resources/Textures/_White/Objects/Weapons/Guns/regulator_lamp.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML

#532 [Fix] Embed Passive Damage
  Content.Shared/Projectiles/EmbedPassiveDamageSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#535 FUCK
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
Labels: Changes: C#, Changes: YML
