Repository WWhiteDreamProject/wwdpublic, pull requests merged in 2025-04, with the labels that each got.

#397 [REMOVE] Отключена биомасса
  Content.Server/_Goobstation/Changeling/ChangelingSystem.cs
  Content.Shared/_Goobstation/Changeling/ChangelingComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#398 [Tweak] Яма. Должна. Расти
  Resources/Locale/en-US/_Goobstation/bingle/bingle.ftl
  Resources/Prototypes/_Goobstation/GameRules/bingleEvent.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#400 assay
  Resources/Locale/ru-RU/psionic/psionic-powers.ftl
  Resources/Prototypes/Psionics/psionics.yml
Labels: Changes: Localization, Changes: YML

#402 [Port] Monospace Support for Rich Text
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Client/UserInterface/RichText/MonoTag.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#403 [Tweak] Crawling
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#406 [Fix] Compatibility Mode
  Resources/Textures/_White/Shaders/flickerhologram.swsl
Labels: Changes: YML

#407 [Fix] Flammable
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/EntityEffects/Effects/ExtinguishReaction.cs
  Content.Server/EntityEffects/Effects/FlammableReaction.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#399 [Fix] Yaml linter
  Content.IntegrationTests/PoolManagerTestEventHandler.cs
  Resources/Prototypes/Maps/anchor.yml
  Resources/Prototypes/_White/Entities/Objects/Specific/Medical/hypospray.yml
Labels: Changes: C#, Changes: YML, Changes: Map

#405 [ADD] АВТОМАТКАЛАШНИКОВА220
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/weapons/guns/Ammunition/magazines/light_rifle.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/weapons/guns/Rifles/rifle.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/Rifles/rifle.yml
  Resources/Textures/_White/Objects/Weapons/Guns/Ammunition/Magazines/magazineAK220.rsi/base.png
  Resources/Textures/_White/Objects/Weapons/Guns/Ammunition/Magazines/magazineAK220.rsi/mag-1.png
  Resources/Textures/_White/Objects/Weapons/Guns/Ammunition/Magazines/magazineAK220.rsi/mag-2.png
  Resources/Textures/_White/Objects/Weapons/Guns/Ammunition/Magazines/magazineAK220.rsi/mag-3.png
  Resources/Textures/_White/Objects/Weapons/Guns/Ammunition/Magazines/magazineAK220.rsi/mag-4.png
  Resources/Textures/_White/Objects/Weapons/Guns/Ammunition/Magazines/magazineAK220.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Guns/Rifles/AK220.rsi/base.png
  Resources/Textures/_White/Objects/Weapons/Guns/Rifles/AK220.rsi/bolt-open.png
  Resources/Textures/_White/Objects/Weapons/Guns/Rifles/AK220.rsi/equipped-BACKPACK.png
  Resources/Textures/_White/Objects/Weapons/Guns/Rifles/AK220.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_White/Objects/Weapons/Guns/Rifles/AK220.rsi/icon.png
  Resources/Textures/_White/Objects/Weapons/Guns/Rifles/AK220.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Guns/Rifles/AK220.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Weapons/Guns/Rifles/AK220.rsi/mag-0.png
  Resources/Textures/_White/Objects/Weapons/Guns/Rifles/AK220.rsi/mag-1.png
  Resources/Textures/_White/Objects/Weapons/Guns/Rifles/AK220.rsi/mag-2.png
  Resources/Textures/_White/Objects/Weapons/Guns/Rifles/AK220.rsi/mag-3.png
  Resources/Textures/_White/Objects/Weapons/Guns/Rifles/AK220.rsi/mag-4.png
  Resources/Textures/_White/Objects/Weapons/Guns/Rifles/AK220.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Guns/Rifles/AK220.rsi/wielded-inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Guns/Rifles/AK220.rsi/wielded-inhand-right.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML

#409 [Fix] Biomass
  Content.Client/_Goobstation/Changeling/ChangelingSystem.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.cs
  Content.Shared/_Goobstation/Changeling/Changeling.Actions.cs
  Content.Shared/_Goobstation/Changeling/ChangelingComponent.cs
  Resources/Prototypes/_Goobstation/Changeling/Actions/changeling.yml
  Resources/Prototypes/_Goobstation/Changeling/Objectives/changeling.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#412 [FIX] попутали xD
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
Labels: Changes: YML

#411 [SHIT] "Никаких "/" в IC чат"
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#413 [Tweak] "Улыбкин перестал быть бессмертным("
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_EE/Damage/modifier_sets.yml
Labels: Changes: YML, Status: Needs Review

#419 Maps update [1]
  Resources/Maps/_White/DryDock.yml
  Resources/Maps/_White/Molecule.yml
  Resources/Maps/_White/Moose.yml
  Resources/Maps/_White/Shuttles/emergency_turtle.yml
  Resources/Maps/_White/WhiteBox.yml
  Resources/Maps/meta.yml
  Resources/Prototypes/Maps/Molecule.yml
  Resources/Prototypes/Maps/drydock.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/moose.yml
  Resources/Prototypes/Maps/whitebox.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#418 [FIX/ADD] насрал 2 фичами в 1 пре
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/prototypes/entities/clothing/head/helmets.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Eyes/goggles.yml
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#426 [ADD] "Логгирование трейтов"
  Content.Server/Traits/TraitSystem.cs
  Content.Shared.Database/LogType.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#423 [ADD] "Паспорт в ПДА"
  Content.Client/PDA/PdaBoundUserInterface.cs
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Shared/PDA/PdaComponent.cs
  Content.Shared/PDA/PdaUpdateState.cs
  Content.Shared/PDA/SharedPdaSystem.cs
  Resources/Locale/en-US/_white/pda/pda-component.ftl
  Resources/Locale/ru-RU/_white/pda/pda-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#425 [ADD] "Русссский акссент ящщуров"
  Content.Server/Speech/EntitySystems/LizardAccentSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#431 [Fix] Жала генокрада
  Content.Server/_Goobstation/Chemistry/TakeStaminaDamage.cs
  Resources/Locale/en-US/_Goobstation/reagents/meta/narcotics.ftl
  Resources/Locale/ru-RU/_Goobstation/reagents/meta/narcotics.ftl
  Resources/Prototypes/_Goobstation/Reagents/narcotics.yml
  Resources/Prototypes/_Goobstation/Reagents/toxins.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#432 [Fix] Meow!
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
Labels: Changes: YML, Status: Needs Review

#430 [Tweak] Это история....
  Resources/Prototypes/StatusIcon/faction.yml
Labels: Changes: YML, Status: Needs Review

#404 [Feature] Сборка - разборка AI-47
  Content.Server/Spawners/EntitySystems/ContainerSpawnPointSystem.cs
  Content.Shared/Containers/ContainerCompSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Resources/Locale/en-US/_white/lathe/lathe-categories.ftl
  Resources/Locale/en-US/_white/popups/ai-assembly.ftl
  Resources/Locale/en-US/_white/research/technologies.ftl
  Resources/Locale/ru-RU/_white/lathe/lathe-categories.ftl
  Resources/Locale/ru-RU/_white/popups/ai-assembly.ftl
  Resources/Locale/ru-RU/_white/research/technologies.ftl
  Resources/Locale/ru-RU/prototypes/entities/mobs/player/silicon.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/categories.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/_White/Entities/Objects/Devices/Circuitboards/ai_core.yml
  Resources/Prototypes/_White/Entities/Structures/Machines/ai_frame.yml
  Resources/Prototypes/_White/Recipes/Construction/Graphs/structures/ai_construction.yml
  Resources/Prototypes/_White/Recipes/Construction/machines.yml
  Resources/Prototypes/_White/Recipes/Lathes/categories.yml
  Resources/Prototypes/_White/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_White/Research/experimental.yml
  Resources/Prototypes/_White/tags.yml
  Resources/Textures/Mobs/Silicon/station_ai.rsi/0.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/1.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/2.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/3.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/3b.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/4.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#434 [Add] New Engineer Jumpsuits!
  Resources/Locale/ru-RU/_white/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/engineeringUncategorized.yml
  Resources/Prototypes/_White/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_White/Loadouts/Jobs/engineering.yml
  Resources/Textures/_White/Clothing/Uniforms/Jumpsuit/engineer_polar.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_White/Clothing/Uniforms/Jumpsuit/engineer_polar.rsi/icon.png
  Resources/Textures/_White/Clothing/Uniforms/Jumpsuit/engineer_polar.rsi/meta.json
  Resources/Textures/_White/Clothing/Uniforms/Jumpsuit/old_engineer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_White/Clothing/Uniforms/Jumpsuit/old_engineer.rsi/icon.png
  Resources/Textures/_White/Clothing/Uniforms/Jumpsuit/old_engineer.rsi/meta.json
  Resources/Textures/_White/Clothing/Uniforms/Jumpsuit/old_engineer_casual.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_White/Clothing/Uniforms/Jumpsuit/old_engineer_casual.rsi/icon.png
  Resources/Textures/_White/Clothing/Uniforms/Jumpsuit/old_engineer_casual.rsi/meta.json
  Resources/Textures/_White/Clothing/Uniforms/Jumpsuit/old_engineer_worker.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_White/Clothing/Uniforms/Jumpsuit/old_engineer_worker.rsi/icon.png
  Resources/Textures/_White/Clothing/Uniforms/Jumpsuit/old_engineer_worker.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#437 [Tweak] THE PIT MUST GROW
  Content.Server/_Goobstation/Bingle/BinglePitSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#438 Poshelnahui
  Content.Server/_White/Commands/PoshelnahuiCommand.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#441 [Tweak] CQC disarm
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.CQC.cs
Labels: Changes: C#, Changes: YML

#408 [Fix] Whitelist
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: Changes: YML, Status: Needs Review

#414 [Fix] Texture
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/bolted_open_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/bolted_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/closed_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/closing_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/deny_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/emergency_open_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/open_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/opening_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/bolted_open_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/bolted_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/closed_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/closing_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/deny_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/emergency_open_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/open_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/opening_unlit.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#420 [Fix] Grab
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#421 [Fix] Uplink Discount
  Content.Server/StoreDiscount/Systems/StoreDiscountSystem.cs
  Content.Shared/StoreDiscount/Components/StoreDiscountComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
Labels: Changes: C#, Changes: YML

#427 [Tweak] Resizable Action Bar
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Screens/OverlayChatGameScreen.xaml.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/keybinds.yml
Labels: Changes: C#, Changes: UI, Changes: YML

#428 [Add] Mid Round Nuke Ops
  Resources/Prototypes/_White/GameRules/midround.yml
Labels: Changes: YML, Status: Needs Review

#429 [Add] Invisibility
  Content.Server/_White/Administration/Commands/InvisibilityCommand.cs
  Content.Server/_White/Administration/Commands/VisibilityCommand.cs
  Content.Shared/Eye/VisibilityFlags.cs
  Resources/Locale/en-US/_white/administration/commands/invisibility.ftl
  Resources/Locale/ru-RU/_white/administration/commands/invisibility.ftl
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#439 [PORT] Шприцеметы
  Content.Server/Chemistry/Components/SolutionInjectOnEmbedComponent.cs
  Content.Server/Chemistry/Components/SolutionInjectWhileEmbeddedComponent.cs
  Content.Server/_Goobstation/Weapons/Ranged/SyringeGunSystem.cs
  Content.Shared/_Goobstation/Weapons/PacifismAllowedGunComponent.cs
  Content.Shared/_Goobstation/Weapons/Ranged/SyringeGunComponent.cs
  Resources/Audio/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/Weapons/Guns/Gunshots/syringe_gun.ogg
  Resources/Locale/en-US/_white/prototypes/catalog/uplink.ftl
  Resources/Locale/en-US/_white/prototypes/entities/objects/specific/chemistry/syringes.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_goobstation/entities/objects/weapons/guns/pneumatic_cannon.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/pneumatic_cannon.ftl
  Resources/Locale/ru-RU/_white/prototypes/catalog/uplink.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/specific/chemistry/syringes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_goobstation/entities/objects/weapons/guns/pneumatic_cannon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pneumatic_cannon.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Goobstation/Base/contraband.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/syringe_gun.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/minisyringe1.png
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/minisyringe2.png
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/minisyringe3.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/syringe_gun.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/rapid_syringe_gun.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/rapid_syringe_gun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/rapid_syringe_gun.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/rapid_syringe_gun.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/rapid_syringe_gun.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/rapid_syringe_gun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/icon-dart.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Changes: Audio, Status: Needs Review

#440 [Feature] Юнит, приказываю спрятать меня вон в тех техах
  Content.Shared/Construction/EntitySystems/AnchorableSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Held.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/StationAiHeldComponent.cs
  Resources/Prototypes/Actions/station_ai.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Textures/_White/Interface/Actions/actions_ai.rsi/meta.json
  Resources/Textures/_White/Interface/Actions/actions_ai.rsi/toggle_bolts.png
Labels: Changes: C#, Changes: Sprite, Changes: YML, Status: Needs Review

#451 [Tweak] Минус глазки
  Content.Shared/Traits/Assorted/Systems/PermanentBlindnessSystem.cs
Labels: Changes: C#, Changes: YML

#453 [Tweak] Скафандр бригмедика
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: YML, Status: Needs Review

#457 [MINI-FIX] Цена за голову борга
  Resources/Prototypes/Recipes/Lathes/robotics.yml
Labels: Changes: YML

#456 [PORT] Повороты комнат при генерации
  Content.Server/Procedural/DungeonSystem.Rooms.cs
  Content.Server/Procedural/RoomFillSystem.cs
  Resources/Prototypes/_White/Entities/Markers/rooms.yml
  Resources/Textures/_White/SpawnMarkers/Marklines/green/mark_line3x4.rsi/3x4.png
  Resources/Textures/_White/SpawnMarkers/Marklines/green/mark_line3x4.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/green/mark_line4x6.rsi/4x6.png
  Resources/Textures/_White/SpawnMarkers/Marklines/green/mark_line4x6.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/green/mark_line5x5.rsi/5x5.png
  Resources/Textures/_White/SpawnMarkers/Marklines/green/mark_line5x5.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/green/mark_line5x7.rsi/5x7.png
  Resources/Textures/_White/SpawnMarkers/Marklines/green/mark_line5x7.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/green/mark_line5x8.rsi/5x8.png
  Resources/Textures/_White/SpawnMarkers/Marklines/green/mark_line5x8.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/green/mark_line5x9.rsi/5x9.png
  Resources/Textures/_White/SpawnMarkers/Marklines/green/mark_line5x9.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/purple/mark_line20x10.rsi/20x10.png
  Resources/Textures/_White/SpawnMarkers/Marklines/purple/mark_line20x10.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/purple/mark_line20x15.rsi/20x15.png
  Resources/Textures/_White/SpawnMarkers/Marklines/purple/mark_line20x15.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/purple/mark_line20x20.rsi/20x20.png
  Resources/Textures/_White/SpawnMarkers/Marklines/purple/mark_line20x20.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line10x10.rsi/10x10.png
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line10x10.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line10x5.rsi/10x5.png
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line10x5.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line10x8.rsi/10x8.png
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line10x8.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line12x12.rsi/12x12.png
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line12x12.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line15x15.rsi/15x15.png
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line15x15.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line15x5.rsi/15x5.png
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line15x5.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line17x17.rsi/17x17.png
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line17x17.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line18x18.rsi/18x18.png
  Resources/Textures/_White/SpawnMarkers/Marklines/red/mark_line18x18.rsi/meta.json
  Resources/Textures/_White/SpawnMarkers/genmarks.rsi/gen5x5.png
  Resources/Textures/_White/SpawnMarkers/genmarks.rsi/meta.json
Labels: Changes: C#, Changes: Sprite, Changes: YML

#433 [ADD] Кличка клоуна йопт
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server.Database/Migrations/Postgres/20240407170000_AddClownName.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240407170000_AddClownName.cs
  Content.Server.Database/Migrations/Sqlite/20240407170000_AddClownName.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240407170000_AddClownName.cs
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/_White/CVars.cs
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  _White/Datasets/Names/clown.yml
  _White/Locale/ru-RU/datasets/names/clown.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#450 [Tweak] бафф шприцемета
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/syringe_gun.yml
Labels: Changes: YML

#452 [ADD] weh
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: YML, Status: Needs Review

#458 Подтираю свою жопу
  Resources/Locale/ru-RU/_white/datasets/names/clown.ftl
  Resources/Prototypes/_White/Datasets/Names/clown.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#443 [Fix] Grab
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#444 [Fix] Disable RestrictedGear
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML

#445 [Fix] Body Bag Fixtures
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
Labels: Changes: YML, Status: Needs Review

#446 [Fix] Lay Down
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Mobs/Systems/MobStateSystem.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/_White/Collision/LayDown/LayDownOnCollideSystem.cs
Labels: Changes: C#, Changes: YML

#447 [Fix] IPC
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
Labels: Changes: YML

#448 [Fix] Holoclown
  Content.Server/Guardian/GuardianSystem.cs
Labels: Changes: C#, Changes: YML

#449 [Fix] Research Point Multiplier
  Content.Client/Research/UI/ResearchConsoleMenu.xaml.cs
  Content.Client/Research/UI/TechnologyCardControl.xaml.cs
  Content.Server/Research/Systems/ResearchSystem.Console.cs
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Shared/Research/Components/ResearchServerComponent.cs
  Content.Shared/Research/Components/TechnologyDatabaseComponent.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#454 [ADD/PORT] Шрифт клоуна
  Content.Server/_White/Chat/FunnyFontsChatSystem.cs
  Resources/Fonts/_White/Comic Sans MS/Comic Sans MS.ttf
  Resources/Prototypes/fonts.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#461 [Fix] Roller Skates
  Content.Shared/Clothing/EntitySystems/SkatesSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#474 [FIX] микрофикс газана
  Content.Client/Atmos/UI/GasAnalyzerWindow.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML

#464 [Fix] Loadout
  Resources/Prototypes/Loadouts/Generic/hands.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
Labels: Changes: YML

#466 [FIX] Шрифт клоуна
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/_White/TTS/TTSSystem.Sanitize.cs
  Resources/Locale/ru-RU/headset/headset-component.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML

#470 [Tweak/Fix] Uplink
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Server/StoreDiscount/Systems/StoreDiscountSystem.cs
  Content.Server/_Goobstation/GameTicking/Rules/ChangelingRuleSystem.cs
  Content.Shared/StoreDiscount/Components/StoreDiscountComponent.cs
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_EE/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_Funkystation/implant/implant.ftl
  Resources/Locale/ru-RU/_Goobstation/martial-arts/martial-arts.ftl
  Resources/Locale/ru-RU/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_TG/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/prototypes/catalog/fills/guncase/syndicate.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/misc/gun_case.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/deltav/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Funkystation/Store/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Catalog/Fills/GunCase/syndicate.yml
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Objects/Misc/gun_case.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/Rifles/rifle.yml
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/meta.json
  Resources/Textures/Objects/Tools/Decoys/agent_decoy.rsi/aballoon.png
  Resources/Textures/Objects/Tools/Decoys/agent_decoy.rsi/meta.json
  Resources/Textures/Objects/Tools/Decoys/commander_decoy.rsi/cballoon.png
  Resources/Textures/Objects/Tools/Decoys/commander_decoy.rsi/meta.json
  Resources/Textures/Objects/Tools/Decoys/elite_decoy.rsi/eballoon.png
  Resources/Textures/Objects/Tools/Decoys/elite_decoy.rsi/meta.json
  Resources/Textures/Objects/Tools/Decoys/juggernaut_decoy.rsi/jballoon.png
  Resources/Textures/Objects/Tools/Decoys/juggernaut_decoy.rsi/meta.json
  Resources/Textures/Objects/Tools/Decoys/operative_decoy.rsi/meta.json
  Resources/Textures/Objects/Tools/Decoys/operative_decoy.rsi/oballoon.png
  Resources/Textures/_White/Objects/Misc/gun_case_syndicate.rsi/icon.png
  Resources/Textures/_White/Objects/Misc/gun_case_syndicate.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Misc/gun_case_syndicate.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Misc/gun_case_syndicate.rsi/meta.json
  Resources/Textures/_White/Objects/Misc/pistol_case_syndicate.rsi/icon.png
  Resources/Textures/_White/Objects/Misc/pistol_case_syndicate.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Misc/pistol_case_syndicate.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Misc/pistol_case_syndicate.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#473 [FIX] Thieving Gloves
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: Localization, Changes: YML

#479 [Tweak/Fix] TTS
  Content.Client/VoiceMask/VoiceMaskBoundUserInterface.cs
  Content.Client/VoiceMask/VoiceMaskNameChangeWindow.xaml
  Content.Client/VoiceMask/VoiceMaskNameChangeWindow.xaml.cs
  Content.Client/_White/TTS/TTSSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/VoiceMask/VoiceMaskComponent.cs
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Content.Server/_White/Chat/Systems/AnnouncementSpokeEvent.cs
  Content.Server/_White/TTS/TTSManager.cs
  Content.Server/_White/TTS/TTSManagerExtension.cs
  Content.Server/_White/TTS/TTSSystem.Announce.cs
  Content.Server/_White/TTS/TTSSystem.Cache.cs
  Content.Server/_White/TTS/TTSSystem.Preview.cs
  Content.Server/_White/TTS/TTSSystem.Sanitize.cs
  Content.Server/_White/TTS/TTSSystem.cs
  Content.Server/_White/TTS/VoiceMaskSystem.TTS.cs
  Content.Shared/VoiceMask/SharedVoiceMaskSystem.cs
  Content.Shared/_White/CVars.cs
  Content.Shared/_White/TTS/TTSComponent.cs
  Content.Shared/_White/TTS/TTSSerializable.cs
  Resources/Locale/en-US/_white/voice-mask.ftl
  Resources/Locale/ru-RU/_white/voice-mask.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review
