Repository WWhiteDreamProject/wwdpublic, pull requests merged in 2025-03, with the labels that each got.

#230 ama spashe shattl
  Resources/Prototypes/_White/Catalog/Jukebox/Standart.yml
Labels: Changes: YML

#237 [Twe4k] No Gr4nd Theft Mech
  Content.Server/Mech/Systems/MechSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#235 [Tweak] Flying tiles no longer embed on hit
  Resources/Locale/ru-RU/prototypes/entities/objects/misc/tiles.ftl
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#234 [Feature] возврат резни после манифеста
  Content.Server/_White/PostManifestMassacre/PostManifestMassacreSystem.cs
  Content.Shared/_White/CVars.cs
  Resources/Prototypes/_White/EntityLists/pmm_weapons.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#245 [Tweak] Administrative Assistant -> Адъютант
  Resources/Locale/ru-RU/deltav/job/job-names.ftl
  Resources/Locale/ru-RU/deltav/paper/stamp-component.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/misc/identification_cards.ftl
Labels: Changes: Localization, Changes: YML

#247 [Twe4k] Un-nerf stunb4ton
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Changes: YML, Status: Needs Review

#244 Russi4n Tr4itor Codewords
  Resources/Prototypes/Datasets/adjectives.yml
  Resources/Prototypes/Datasets/verbs.yml
Labels: Changes: YML

#243 [Fix] Free Noslips Removed
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: YML

#242 4ssist4nts 4re b4ck
  Resources/Locale/ru-RU/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/prototypes/entities/clothing/ears/specific.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/StatusIcon/job.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Assistant.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#250 [Twe4k] Homerun B4t Knocks Down On Hit
  Resources/Prototypes/Entities/Objects/Weapons/Melee/home_run_bat.yml
Labels: Changes: YML, Status: Needs Review

#249 [Twe4k] M4ke Telescopic B4ton Us4ble
  Resources/Prototypes/Entities/Objects/Weapons/Melee/telescopic_baton.yml
Labels: Changes: YML, Status: Needs Review

#248 [Tweak] Removed fun weapons
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/commandUncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Command/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
Labels: Changes: YML

#239 Tr4itor t4sk loc4liz4tion
  Content.Server/Objectives/ObjectivesSystem.cs
  Content.Shared/Objectives/Components/ObjectiveComponent.cs
  Resources/Locale/en-US/objectives/conditions/glimmer.ftl
  Resources/Locale/en-US/objectives/conditions/hijack.ftl
  Resources/Locale/en-US/objectives/conditions/kill-head.ftl
  Resources/Locale/en-US/objectives/conditions/kill-person.ftl
  Resources/Locale/en-US/objectives/conditions/other-traitor-alive.ftl
  Resources/Locale/en-US/objectives/conditions/other-traitor-progress.ftl
  Resources/Locale/ru-RU/deltav/objectives/conditions/teach-person.ftl
  Resources/Locale/ru-RU/objectives/conditions/escape-shuttle-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/glimmer.ftl
  Resources/Locale/ru-RU/objectives/conditions/hijack.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-head.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-person.ftl
  Resources/Locale/ru-RU/objectives/conditions/other-traitor-alive.ftl
  Resources/Locale/ru-RU/objectives/conditions/other-traitor-progress.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal-few-items-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal.ftl
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/Nyanotrasen/Objectives/traitor.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#238 [Feature] Камень в лоадауты
  Resources/Prototypes/Loadouts/Generic/items.yml
Labels: Changes: YML

#236 [Twe4k] No roundst4rt CC roles
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/gaxstation.yml
  Resources/Prototypes/Maps/glacier.yml
  Resources/Prototypes/Maps/hammurabi.yml
  Resources/Prototypes/Maps/hive.yml
  Resources/Prototypes/Maps/lambda.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/pebble.yml
  Resources/Prototypes/Maps/radstation.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/shoukou.yml
  Resources/Prototypes/Maps/submarine.yml
  Resources/Prototypes/Maps/tortuga.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#254 [Fix] Free Vim Harness Recipe
  Resources/Prototypes/Recipes/Lathes/mech_parts.yml
Labels: Changes: YML, Status: Needs Review

#255 [Fix] Cuff Range Being Extremely Small
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#256 [Locale] Steal Objectives
  Content.Server/Objectives/Systems/StealConditionSystem.cs
  Content.Shared/Objectives/Prototypes/StealTargetGroupPrototype.cs
  Resources/Locale/en-US/objectives/conditions/steal.ftl
  Resources/Locale/ru-RU/locales-new/autotranslate-19.ftl
  Resources/Locale/ru-RU/objectives/conditions/escape-shuttle-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal.ftl
  Resources/Prototypes/DeltaV/Objectives/paradox_anomaly.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#241 [Tweak] Ключи шифрования гарнитуры ХоПа были заменены на мастер-ключ
  Resources/Changelog/WhiteChangelog.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Ears/headsets.yml
Labels: Changes: YML, Status: Needs Review

#246 [Fix] Fix Disabler Bolt Collision
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Walls/grille.yml
Labels: Changes: YML, Status: Needs Review

#266 [Update] Rules Gavna
  Resources/ServerInfo/Guidebook/ServerRules/MedusaRules.xml
Labels: Changes: Documentation, Changes: YML

#267 [Tweak] Вход в гостбар больше не влияет на время до возвращения в раунд
  Content.Server/_Goobstation/Ghostbar/Components/GhostBarPlayerComponent.cs
  Content.Server/_Goobstation/Ghostbar/GhostBarSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#264 [Add] Melee Visuals
  Content.Client/Weapons/Melee/MeleeWeaponSystem.Effects.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Weapons/Melee/Events/MeleeLungeEvent.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Justice/gavel.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Entities/Objects/Fun/bike_horn.yml
  Resources/Prototypes/Entities/Objects/Fun/darts.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Misc/utensils.yml
  Resources/Prototypes/Entities/Objects/Tools/EmpFlashlight.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/gohei.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/needle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/white_cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Melee/daggers.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#259 [Tweak] Movement In Crit + No Breaking Pull
  Content.Shared/CCVar/CCVars.SoftCrit.cs
  Content.Shared/Mobs/Components/MobStateComponent.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#269 [Add] Better Character Examine
  Content.Server/IdentityManagement/IdentitySystem.cs
  Content.Server/_White/Examine/ExaminableCharacterComponent.cs
  Content.Server/_White/Examine/ExaminableCharacterSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Locale/en-US/_white/examine/examine.ftl
  Resources/Locale/ru-RU/_white/examine/examine.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#252 [Add] High-Risk Loadout Item For Warden: Power Gloves
  Resources/Locale/en-US/_white/objectives/conditions/steal.ftl
  Resources/Locale/ru-RU/_white/object/clothes/gloves.ftl
  Resources/Locale/ru-RU/_white/objectives/conditions/steal.ftl
  Resources/Locale/ru-RU/loadouts/jobs/security.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_White/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_White/Objectives/stealTargerGroups.yml
  Resources/Prototypes/_White/Objectives/traitor.yml
Labels: Changes: Localization, Changes: YML

#257 fancy fonts
  Content.Client/Chat/UI/SpeechBubble.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_White/MarkupTags/ChatTags.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/_White/CVars.cs
  Resources/Fonts/NotoSans - Copy/LICENSE.txt
  Resources/Fonts/NotoSans - Copy/NotoSans-Bold.ttf
  Resources/Fonts/NotoSans - Copy/NotoSans-BoldItalic.ttf
  Resources/Fonts/NotoSans - Copy/NotoSans-Italic.ttf
  Resources/Fonts/NotoSans - Copy/NotoSans-Regular.ttf
  Resources/Fonts/NotoSans - Copy/NotoSansSymbols-Bold.ttf
  Resources/Fonts/NotoSans - Copy/NotoSansSymbols-Regular.ttf
  Resources/Fonts/NotoSans - Copy/NotoSansSymbols2-Regular.ttf
  Resources/Fonts/NotoSans/NK57-Monospace-Cd-Bd-It.otf
  Resources/Fonts/NotoSans/NK57-Monospace-Cd-Bd.otf
  Resources/Fonts/NotoSans/NK57-Monospace-Cd-Rg-It.otf
  Resources/Fonts/NotoSans/NK57-Monospace-Cd-Rg.otf
  Resources/Fonts/_White/Bedstead/Bedstead-bold-italic.ttf
  Resources/Fonts/_White/Bedstead/Bedstead-italic.ttf
  Resources/Fonts/_White/Bedstead/bedstead-bold.otf
  Resources/Fonts/_White/NK-57-Monospace/NK57-Monospace-Cd-Bd-It.otf
  Resources/Fonts/_White/NK-57-Monospace/NK57-Monospace-Cd-Bd.otf
  Resources/Fonts/_White/NK-57-Monospace/NK57-Monospace-Cd-Rg-It.otf
  Resources/Fonts/_White/NK-57-Monospace/NK57-Monospace-Cd-Rg.otf
  Resources/Locale/en-US/_white/options.ftl
  Resources/Locale/ru-RU/_white/options.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Prototypes/_White/fonts.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#272 [Tweak] No Instant Giveup
  Resources/Prototypes/Actions/crit.yml
Labels: Changes: YML

#271 [Fix] Shuttle Windows Not Blocking Grilles Electrocution
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
Labels: Changes: YML, Status: Needs Review

#275 [Tweak] чут-чут переводов
  Resources/Locale/ru-RU/deltav/traits/traits.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/lobby/lobby-state.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: Changes: Localization, Changes: YML

#281 [Fix] IPCs Not Leaving Glove Marks
  Content.Server/Forensics/Components/FingerprintComponent.cs
  Content.Server/Forensics/Systems/ForensicPadSystem.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Shared/Forensics/Events.cs
  Resources/Locale/en-US/forensics/forensics.ftl
  Resources/Locale/ru-RU/forensics/forensics.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#278 [Fix] Embed Items Now Drop On Destruction/Deconstruction
  Content.Server/Destructible/DestructibleSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Resources/Locale/en-US/weapons/throwing/throwing.ftl
  Resources/Locale/ru-RU/weapons/throwing/throwing.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#282 [Fix] Less Surgery Spam & Icon Fixes
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
Labels: Changes: YML

#283 перевод гост меню
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
Labels: Changes: Localization, Changes: YML

#284 [Tweak] Weapons Resize
  Resources/Prototypes/DeltaV/Entities/Objects/Fun/toy_guns.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/chainsaw.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Lever/lever.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/launchers.yml
Labels: Changes: YML

#277 [Fix] Yaml Linter
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/_White/Explosion/EntitySystems/TriggerOnShotSystem.cs
  Content.Shared/Explosion/Components/OnShotTimerTriggerComponent.cs
  Content.Shared/Weapons/Ranged/Events/ProjectileShotEvent.cs
  Content.Shared/_Lavaland/Weapons/Ranged/Upgrades/SharedGunUpgradeSystem.cs
  Content.Shared/_White/Explosion/Components/OnShotTimerTriggerComponent.cs
  Content.Shared/_White/Weapons/Ranged/Events/ProjectileShotEvent.cs
  Resources/Locale/en-US/objectives/conditions/steal.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal.ftl
  Resources/Migrations/WWDPMigration.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/boxes.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_EE/Gamerules/SANDeserters.yml
  Resources/Prototypes/_NF/Recipes/Lathes/security.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/launchers.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_White/tags.yml
  Resources/Textures/_White/Objects/Weapons/Guns/Launchers/riot_launcher.rsi/base.png
  Resources/Textures/_White/Objects/Weapons/Guns/Launchers/riot_launcher.rsi/bolt-open.png
  Resources/Textures/_White/Objects/Weapons/Guns/Launchers/riot_launcher.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Guns/Launchers/riot_launcher.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Weapons/Guns/Launchers/riot_launcher.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#276 [Fix] Some Body Type Bugs
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/_White/Species/harpy.yml
  Resources/Prototypes/_White/Species/human.yml
  Resources/Prototypes/_White/Species/reptilian.yml
Labels: Changes: YML

#273 [Fix] Melee Bugs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Changes: C#, Changes: YML

#215 [Feature] Emotes Menu Type
  Content.Client/Chat/UI/EmotesMenu.xaml.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/UserInterface/Systems/MenuBar/GameTopMenuBarUIController.cs
  Content.Client/_White/UI/Emotes/EmotesMenuType.cs
  Content.Client/_White/UI/Emotes/WhiteEmotesMenu.xaml
  Content.Client/_White/UI/Emotes/WhiteEmotesMenu.xaml.cs
  Content.Client/_White/UI/Emotes/WhiteEmotesUIController.cs
  Content.Client/_White/UI/Emotions/EmotionsUIController.cs
  Content.Shared/_White/CVars.cs
  Resources/ConfigPresets/DeltaV/apoapsis.toml
  Resources/ConfigPresets/DeltaV/periapsis.toml
  Resources/Locale/en-US/DeltaV/chat/emotes.ftl
  Resources/Locale/en-US/_white/chat/emotion.ftl
  Resources/Locale/en-US/_white/emotes/speech-emotes.ftl
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Locale/en-US/deltav/chat/emotes.ftl
  Resources/Locale/en-US/emotes.ftl
  Resources/Locale/en-US/nyanotrasen/chat/emotes.ftl
  Resources/Locale/ru-RU/_white/chat/emotion.ftl
  Resources/Locale/ru-RU/_white/emotes/speech-emotes.ftl
  Resources/Locale/ru-RU/_white/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/chat/emotes.ftl
  Resources/Locale/ru-RU/deltav/chat/emotes.ftl
  Resources/Locale/ru-RU/nyanotrasen/chat/emotes.ftl
  Resources/Prototypes/Actions/emotes.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/tail_emotes.yml
  Resources/Prototypes/_White/Voice/speech_emotes.yml
  Resources/Prototypes/_White/tags.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review, Changes: Config

#280 [Tweak] Better Shoving
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Melee/ShovingComponent.cs
  Content.Shared/CombatMode/DisarmedEvent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_White/CVars.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#253 Psionic Protection Bugfix + More Options.
  Content.Server/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: Changes: C#, Changes: YML

#286 [Fix] Melee Description Popup
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Resources/Locale/ru-RU/damage/damage-examine.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML

#290 [Tweak] Announcement Character Limit
  Content.Shared/CCVar/CCVars.Chat.cs
Labels: Changes: C#, Changes: YML

#295 [Fix] Shoving 2
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#297 weed eater
  Content.Client/Crayon/CrayonSystem.cs
  Content.Client/_White/Overlays/CrayonPreviewOverlay.cs
  Content.Server/Crayon/CrayonSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#287 [Tweak] Ещё чутка переводов
  Resources/Locale/ru-RU/locales-new/autotranslate-47.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/prototypes/entities/clothing/ears/headsets_alt.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/devices/radio.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/furniture/dresser.ftl
  Resources/Locale/ru-RU/prototypes/entities/tiles/lava.ftl
Labels: Changes: Localization, Changes: YML

#300 [Fix] Torso Cavity Being Accessible
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#298 [Fix] Footstep
  Content.Client/FootPrint/FootPrintsVisualizerSystem.cs
  Content.IntegrationTests/Tests/Fluids/AbsorbentTest.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.Footprints.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/FootPrint/FootPrintsSystem.cs
  Content.Shared/Footprint/FootPrintComponent.cs
  Content.Shared/Footprint/FootPrintsComponent.cs
Labels: Changes: C#, Changes: YML

#303 [Fix] General Fixes
  Content.Client/Weapons/Ranged/GunSpreadOverlay.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/CCVar/CCVars.GhostRespawn.cs
  Content.Shared/MagicMirror/SharedMagicMirrorSystem.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/Wieldable/WieldableSystem.cs
  Resources/ConfigPresets/Build/development.toml
  Resources/Locale/ru-RU/weapons/grenades/timer-trigger.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/toy_projectiles.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/clusterbang.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/launchers.yml
  Resources/Prototypes/_White/themes.yml
  Resources/Prototypes/themes.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Config

#274 [Locale] Emotes & Deathgasps
  Resources/Locale/ru-RU/_white/chat/emotion.ftl
  Resources/Locale/ru-RU/chat/emotes.ftl
  Resources/Prototypes/Actions/emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: Localization, Changes: YML

#306 decal rename fix
  Resources/Maps/Moose.yml
  Resources/Maps/Salvage/DeltaV/DV-med-crashed-shuttle.yml
  Resources/Maps/Salvage/DeltaV/DV-med-library.yml
  Resources/Maps/Salvage/DeltaV/DV-tick-colony.yml
  Resources/Maps/Salvage/medium-crashed-shuttle.yml
  Resources/Maps/Salvage/medium-library.yml
  Resources/Maps/Salvage/tick-colony.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#307 [Add] Maids With Guns
  Resources/Locale/en-US/_white/loadouts/loadouts.ftl
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Migrations/WWDPMigration.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/gaxstation.yml
  Resources/Prototypes/Maps/glacier.yml
  Resources/Prototypes/Maps/hammurabi.yml
  Resources/Prototypes/Maps/hive.yml
  Resources/Prototypes/Maps/lambda.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/pebble.yml
  Resources/Prototypes/Maps/radstation.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/shoukou.yml
  Resources/Prototypes/Maps/submarine.yml
  Resources/Prototypes/Maps/tortuga.yml
  Resources/Prototypes/_White/Loadouts/CharacterItemGroups/maid.yml
  Resources/Prototypes/_White/Loadouts/Jobs/command.yml
  Resources/Prototypes/_White/Loadouts/Jobs/maid.yml
  Resources/Prototypes/_White/Roles/Jobs/Command/maid.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Changes: Map

#305 [Add] Grenade Booby Traps
  Resources/Locale/ru-RU/_white/object/traps.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_White/Entities/Structures/Other/traps.yml
  Resources/Prototypes/_White/Recipes/Crafting/traps.yml
  Resources/Prototypes/_White/tags.yml
  Resources/Textures/_White/Structures/Other/grenadetrap.rsi/meta.json
  Resources/Textures/_White/Structures/Other/grenadetrap.rsi/poles.png
  Resources/Textures/_White/Structures/Other/grenadetrap.rsi/trap.png
  Resources/Textures/_White/Structures/Other/grenadetrap.rsi/trap_grenade.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#304 [Tweak] Shove 3
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Changes: C#, Changes: YML

#292 [Fix] Traits
  Resources/Prototypes/Loadouts/Generic/eyes.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#310 [Remove] Non-admin KILL Signs
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
Labels: Changes: YML, Status: Needs Review

#313 [Fix] CQC
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#312 [Tweak] Security/Station Guns
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/heavy_rifle.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: Changes: YML, Status: Needs Review

#308 [Fix] Embed Locale
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Resources/Locale/ru-RU/armor/armor-examine.ftl
  Resources/Locale/ru-RU/weapons/throwing/throwing.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML

#289 [Tweak] Belts & Clothes Inventories
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Belt/base_clothingbelt.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Belt/waist_bags.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/sword.yml
Labels: Changes: YML, Status: Needs Review

#316 [Fix] Lockers Catching Bullets
  Content.Shared/Storage/Components/SharedEntityStorageComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#315 [Tweak] Shove 4
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/_White/CVars.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#319 [Tweak] Traits
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/TraitPreferenceSelector.xaml.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/CCVar/CCVars.Game.cs
  Content.Shared/Traits/Prototypes/TraitPrototype.cs
  Resources/Locale/en-US/_white/traits/misc.ftl
  Resources/Locale/ru-RU/_white/traits/misc.ftl
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#314 [Tweak] Leg Meta
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: Localization, Changes: YML

#318 [Tweak] NukeOps
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
Labels: Changes: C#, Changes: Localization, Changes: YML

#320 [Tweak] Less Roundstart Guns
  Resources/Migrations/WWDPMigration.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magnum.yml
Labels: Changes: YML, Status: Needs Review

#317 [Fix] Input Relays Running State
  Content.Shared/CCVar/CCVars.Interactions.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedMoverController.Relay.cs
Labels: Changes: C#, Changes: YML

#322 [Locale] Revolutionary Manifesto
  Resources/Locale/en-US/_white/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/deltav/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/_white/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/armor/armor-examine.ftl
  Resources/Locale/ru-RU/extenddescriptions/items/revolutionarymanifesto.ftl
  Resources/Locale/ru-RU/extenddescriptions/items/syndicate/emag.ftl
  Resources/Locale/ru-RU/extenddescriptions/items/weapons/civiliandisabler.ftl
  Resources/Locale/ru-RU/extenddescriptions/mindshield.ftl
  Resources/Locale/ru-RU/revolutionaries/revolutionary-converter.ftl
Labels: Changes: Localization, Changes: YML

#323 [Tweak] Revolution Victory Announcement + Locale
  Content.Server/GameTicking/Rules/Components/RevolutionaryRuleComponent.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Resources/Locale/en-US/_white/gamerules/revolutionary.ftl
  Resources/Locale/ru-RU/_white/gamerules/revolutionary.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML

#324 [Tweaks] Cargo
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_armory.yml
Labels: Changes: YML, Status: Needs Review

#327 [Delete] DeltaV Config
  Resources/ConfigPresets/DeltaV/apoapsis.toml
  Resources/ConfigPresets/DeltaV/deltav.toml
  Resources/ConfigPresets/DeltaV/inclination.toml
  Resources/ConfigPresets/DeltaV/periapsis.toml
Labels: Changes: YML, Changes: Config

#330 [Tweak] Shotguns Requiring 2 Hands
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: Changes: YML, Status: Needs Review

#325 [Tweak] Shotguns
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: Changes: Localization, Changes: YML

#329 [Fix] Muskets&Crafts
  Resources/Locale/ru-RU/_white/object/weapons.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/guns/snipers/snipers.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#331 [Tweak] Glorious Revolution
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, Status: Needs Review

#333 [Remove] Laser Loadouts
  Resources/Migrations/eeMigration.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/captain.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
Labels: Changes: YML, Status: Needs Review

#334 [Tweak] Character Creation Cleanup
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Resources/Prototypes/DeltaV/Roles/Jobs/Command/administrative_assistant.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/clerk.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/prosecutor.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/martialartist.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#332 [Add] Antag Logging
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Shared.Database/LogType.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#338 [Tweak] Maid Access
  Resources/Prototypes/_White/Roles/Jobs/Command/maid.yml
Labels: Changes: YML, Status: Needs Review

#340 [Fix] Station Crew Monitors
  Resources/Maps/_Lavaland/Lavaland/outpost_lavaland.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#341 [Fix] Skibidi Toilets Can No Longer Go Through Walls And Be Untouchable
  Resources/Prototypes/Entities/Structures/Furniture/toilet.yml
Labels: Changes: YML

#342 [Fix] Corpsman Hud Glasses
  Resources/Prototypes/DeltaV/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/DeltaV/Recipes/Construction/Graphs/clothing/glasses_corpshud.yml
  Resources/Prototypes/DeltaV/Recipes/Construction/clothing.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: YML, Status: Needs Review

#288 [Tweak] Immersive Interactions
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsComponent.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Interaction/Events/InteractionAttemptEvent.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Interaction/SmartEquipSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Item/ItemComponent.cs
  Content.Shared/Item/SharedItemSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Resources/Locale/en-US/_white/popups/interactions.ftl
  Resources/Locale/ru-RU/_white/popups/interactions.ftl
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#343 [Tweak] Red Tear Gas
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_White/Effects/smoke.yml
  Resources/Textures/Effects/chemsmoke.rsi/chemsmoke_red.png
  Resources/Textures/Effects/chemsmoke.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#345 [Add] Bureaucracy Locale
  Resources/Locale/ru-RU/_white/bureaucracy/documents.ftl
  Resources/Locale/ru-RU/_white/bureaucracy/paper.ftl
  Resources/Locale/ru-RU/_white/bureaucracy/printer.ftl
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/printer.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#344 [Tweak] L6 SAW Spread
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
Labels: Changes: YML, Status: Needs Review

#346 [Fix] Test
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: Changes: YML, Status: Needs Review

#347 [Tweak] No Instant Hard Grab
  Content.Shared/_Goobstation/MartialArts/Components/GrabStagesOverrideComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#309 Prosthetic legs
  Resources/Locale/ru-RU/_Shitmed/prototypes/body/parts/cybernetic.ftl
  Resources/Locale/ru-RU/_white/prototypes/body/parts/prosthetics.ftl
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
  Resources/Prototypes/_White/Body/Parts/prosthetic.yml
  Resources/Prototypes/_White/Recipes/Crafting/Graphs/improvised.yml
  Resources/Prototypes/_White/Recipes/Crafting/Graphs/prosthetic.yml
  Resources/Prototypes/_White/Recipes/Crafting/prosthetic.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#351 [Fix] Immersion Sim 2
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Labels: Changes: YML, Status: Needs Review

#352 [Fix] Pocket Accelerator
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/pka.yml
Labels: Changes: YML

#354 [Remove] Blicky
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
Labels: Changes: YML, Status: Needs Review

#358 Revert "[Tweak] Immersive Interactions (#288)", "[Fix] Immersion Sim 2 (#351)"
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsComponent.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Interaction/Events/InteractionAttemptEvent.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Interaction/SmartEquipSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Item/ItemComponent.cs
  Content.Shared/Item/SharedItemSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Resources/Locale/en-US/_white/popups/interactions.ftl
  Resources/Locale/ru-RU/_white/popups/interactions.ftl
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#355 [Remove] Listening Post Loot
  Resources/Maps/Shuttles/pirateradio.yml
Labels: Changes: YML, Changes: Map

#357 Spinoretka
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML

#359 Синтез бумаги и клейка картона, а также написание революционной книжки
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Specific/revolutionary.yml
  Resources/Prototypes/_White/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_White/Recipes/Crafting/alternate.yml
  Resources/Prototypes/_White/Recipes/Crafting/fun.yml
  Resources/Prototypes/_White/Recipes/Reactions/Synthesis.yml
  Resources/Prototypes/_White/tags.yml
Labels: Changes: YML

#360 [Tweak] Ipc Resprite
  Resources/Textures/Mobs/Species/IPC/parts.rsi/full.png
  Resources/Textures/Mobs/Species/IPC/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/IPC/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/IPC/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/IPC/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/IPC/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/IPC/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/IPC/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/IPC/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/IPC/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/IPC/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/IPC/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/IPC/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/IPC/parts.rsi/torso_m.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#362 - [add] Добавлено новый плащ для Главы персонала.
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_White/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_White/Loadouts/Jobs/headOfPersonnel.yml
  Resources/Textures/_White/Clothing/OuterClothing/Coats/hopcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_White/Clothing/OuterClothing/Coats/hopcoat.rsi/icon.png
  Resources/Textures/_White/Clothing/OuterClothing/Coats/hopcoat.rsi/inhand-left.png
  Resources/Textures/_White/Clothing/OuterClothing/Coats/hopcoat.rsi/inhand-right.png
  Resources/Textures/_White/Clothing/OuterClothing/Coats/hopcoat.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#363 Фикс говна
  Resources/Prototypes/_White/Loadouts/Jobs/headOfPersonnel.yml
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#240 [Feature] Лоадауты и генерал бригадир.
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/fun/toys.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Recipes/Lathes/prizecounter.yml
  Resources/Prototypes/_White/Entities/Fun/sanabi.yml
  Resources/Prototypes/_White/Loadouts/Jobs/security.yml
  Resources/Prototypes/_White/Loadouts/Jobs/uncategorized.yml
  Resources/Prototypes/_White/Recipes/Lathes/Misc.yml
  Resources/Textures/_White/Objects/Fun/sanabi.rsi/meta.json
  Resources/Textures/_White/Objects/Fun/sanabi.rsi/sanabi-inhand-left.png
  Resources/Textures/_White/Objects/Fun/sanabi.rsi/sanabi-inhand-right.png
  Resources/Textures/_White/Objects/Fun/sanabi.rsi/sanabi.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML

#371 [Tweaks & Fixes] Change Changelings
  Content.Server/_Goobstation/Changeling/ChangelingSystem.cs
  Content.Server/_Goobstation/GameTicking/Rules/ChangelingRuleSystem.cs
  Resources/Audio/_Goobstation/Changeling/Effects/changeling_shriek.ogg
  Resources/Locale/en-US/_Goobstation/Changeling/game-ticking/game-presets/preset-changeling.ftl
  Resources/Locale/en-US/_Goobstation/Changeling/store/changeling-catalog.ftl
  Resources/Prototypes/_Funkystation/Store/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Changeling/Actions/changeling.yml
  Resources/Prototypes/_Goobstation/Changeling/Catalog/changeling_catalog.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_armblade.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Audio

#373 Фикс маленькой детали
  Resources/Prototypes/Recipes/Reactions/biological.yml
Labels: Changes: YML, Status: Needs Review

#377 [Tweak] Brigmedic resprite!
  Resources/Textures/DeltaV/Clothing/Back/Backpacks/brigmedic.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Clothing/Back/Backpacks/brigmedic.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Back/Backpacks/brigmedic.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Back/Satchels/brigmedic.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Clothing/Back/Satchels/brigmedic.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Back/Satchels/brigmedic.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Belt/corpsman.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Clothing/Belt/corpsman.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Belt/corpsman.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_corpsman.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_corpsman.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_corpsman.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#378 [Add] Hos bats
  Content.Client/RadialSelector/RadialSelectorMenuBUI.cs
  Content.Client/_White/Animations/FlipOnHitSystem.cs
  Content.Server/Damage/Systems/DamageOtherOnHitSystem.cs
  Content.Server/Weapons/Melee/WeaponRandom/WeaponRandomComponent.cs
  Content.Server/Weapons/Melee/WeaponRandom/WeaponRandomSystem.cs
  Content.Server/_White/Animations/FlipOnHitSystem.cs
  Content.Server/_White/EntityGenerator/EntityGeneratorSystem.cs
  Content.Server/_White/RadialEntityMorph/RadialEntityMorphComponent.cs
  Content.Server/_White/RadialEntityMorph/RadialEntityMorphSystem.cs
  Content.Shared/Damage/Events/DamageOtherOnHitEvents.cs
  Content.Shared/Damage/Systems/SharedDamageOtherOnHitSystem.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Content.Shared/_White/Animations/FlipOnHitComponent.cs
  Content.Shared/_White/Animations/SharedFlipOnHitSystem.cs
  Content.Shared/_White/EntityGenerator/EntityGeneratorComponent.cs
  Content.Shared/_White/EntityGenerator/SharedEntityGeneratorSystem.cs
  Resources/Locale/en-US/_white/entity-generator/entity-generator.ftl
  Resources/Locale/ru-RU/_white/entity-generator/entity-generator.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/weapons/melee/hosbats.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Melee/hosbat.yml
  Resources/Prototypes/_White/Loadouts/Jobs/headOfSecurity.yml
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/74ka.rsi/icon.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/74ka.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/74ka.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/74ka.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/brick.rsi/icon.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/brick.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/brick.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/brick.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/brick_bag.rsi/icon.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/brick_bag.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/hos_bat.rsi/icon.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/hos_bat.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/hos_bat.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/hos_bat.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/laser_bat.rsi/bat_laser.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/laser_bat.rsi/bat_laser_handle.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/laser_bat.rsi/icon.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/laser_bat.rsi/inhand-left-unshaded.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/laser_bat.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/laser_bat.rsi/inhand-right-unshaded.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/laser_bat.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/laser_bat.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/stop_sign.rsi/icon.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/stop_sign.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/stop_sign.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/stop_sign.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/tactical_sledgehammer.rsi/icon.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/tactical_sledgehammer.rsi/inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/tactical_sledgehammer.rsi/inhand-right.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/tactical_sledgehammer.rsi/meta.json
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/tactical_sledgehammer.rsi/wielded-inhand-left.png
  Resources/Textures/_White/Objects/Weapons/Melee/Hosbat/tactical_sledgehammer.rsi/wielded-inhand-right.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML, Status: Needs Review

#376 [PORT] Кинематографичная рябь, или по простому шум
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/Parallax/ParallaxControl.cs
  Content.Client/_White/Overlays/GrainOverlay.cs
  Content.Shared/_White/CVars.cs
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/_white/escape-menu/options-menu.ftl
  Resources/Prototypes/_White/Shaders/shaders.yml
  Resources/Textures/_White/Shaders/grain.swsl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#375 [TWEAK] Бафф армблейда
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_armblade.yml
Labels: Changes: YML, Status: Needs Review

#383 [Tweak] Cabinet resprite!
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
  Resources/Textures/Structures/Storage/cabinets.rsi/chestdrawer-open.png
  Resources/Textures/Structures/Storage/cabinets.rsi/chestdrawer.png
  Resources/Textures/Structures/Storage/cabinets.rsi/filingcabinet-open.png
  Resources/Textures/Structures/Storage/cabinets.rsi/filingcabinet.png
  Resources/Textures/Structures/Storage/cabinets.rsi/meta.json
  Resources/Textures/Structures/Storage/cabinets.rsi/tallcabinet-open.png
  Resources/Textures/Structures/Storage/cabinets.rsi/tallcabinet.png
Labels: Changes: Sprite, Changes: YML, Status: Needs Review

#384 [Fix] Deafness
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/_White/Hearing/DeafComponent.cs
  Content.Server/_White/Hearing/HearingChangedEvent.cs
  Content.Server/_White/Hearing/HearingComponent.cs
  Content.Server/_White/Hearing/HearingSystem.cs
  Resources/Prototypes/_White/Traits/traits.yml
Labels: Changes: C#, Changes: YML

#386 Some chemical reactions
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/_White/Recipes/Reactions/Synthesis.yml
  Resources/Prototypes/_White/Recipes/Reactions/biological.yml
Labels: Changes: YML, Status: Needs Review

#353 [Tweak] Перенос юи уведомлений или что это
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml
Labels: Changes: UI, Changes: YML

#385 [TWEAK] Make toolbox great again
  Resources/Locale/ru-RU/_white/prototypes/entities/clothing/Ears/Headsets.ftl
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/_White/Entities/Clothing/Ears/Headsets.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#388 Revert "[Tweak] Перенос юи уведомлений или что это (#353)"
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml
Labels: Changes: UI, Changes: YML

#390 [Fix] Fix Deafnesss
  Content.Server/_White/Hearing/HearingSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#391 Tweaks of recipes
  Resources/Prototypes/_White/Recipes/Reactions/Synthesis.yml
  Resources/Prototypes/_White/Recipes/Reactions/biological.yml
Labels: Changes: YML, Status: Needs Review

#387 [Tweak] Balance
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_bow.yml
  Resources/Prototypes/_White/Entities/Objects/Weapons/Guns/Battery/mini_ebow.yml
Labels: Changes: YML

#380 [Fix] RuOld Annoncer
  Content.Shared/CCVar/CCVars.Announcer.cs
  Resources/Audio/_White/Announcers/RuOld/alerts/attributions.yml
  Resources/Audio/_White/Announcers/RuOld/alerts/blue.ogg
  Resources/Audio/_White/Announcers/RuOld/alerts/delta.ogg
  Resources/Audio/_White/Announcers/RuOld/alerts/delta_alt.ogg
  Resources/Audio/_White/Announcers/RuOld/alerts/epsilon.ogg
  Resources/Audio/_White/Announcers/RuOld/alerts/gamma.ogg
  Resources/Audio/_White/Announcers/RuOld/alerts/notice1.ogg
  Resources/Audio/_White/Announcers/RuOld/alerts/notice2.ogg
  Resources/Audio/_White/Announcers/RuOld/alerts/red.ogg
  Resources/Audio/_White/Announcers/RuOld/attributions.yml
  Resources/Audio/_White/Announcers/RuOld/bloblarm.ogg
  Resources/Audio/_White/Announcers/RuOld/comms/aliens.ogg
  Resources/Audio/_White/Announcers/RuOld/comms/announce.ogg
  Resources/Audio/_White/Announcers/RuOld/comms/attention.ogg
  Resources/Audio/_White/Announcers/RuOld/comms/war.ogg
  Resources/Audio/_White/Announcers/RuOld/comms/welcome.ogg
  Resources/Audio/_White/Announcers/RuOld/events/aliens.ogg
  Resources/Audio/_White/Announcers/RuOld/events/gasleak_end.ogg
  Resources/Audio/_White/Announcers/RuOld/events/gasleak_start.ogg
  Resources/Audio/_White/Announcers/RuOld/events/meteors_end.ogg
  Resources/Audio/_White/Announcers/RuOld/events/meteors_start.ogg
  Resources/Audio/_White/Announcers/RuOld/events/power_off.ogg
  Resources/Audio/_White/Announcers/RuOld/events/power_on.ogg
  Resources/Audio/_White/Announcers/RuOld/events/random_sentience.ogg
  Resources/Audio/_White/Announcers/RuOld/events/vent_clog.ogg
  Resources/Audio/_White/Announcers/RuOld/fallback.ogg
  Resources/Audio/_White/Announcers/RuOld/shuttle/called.ogg
  Resources/Audio/_White/Announcers/RuOld/shuttle/dock.ogg
  Resources/Audio/_White/Announcers/RuOld/shuttle/recalled.ogg
  Resources/Audio/_White/Announcers/RuOld/unused/outbreak7.ogg
  Resources/Audio/_White/Announcers/RuOld/unused/radiation.ogg
  Resources/Prototypes/Announcers/!randomAnnouncers.yml
  Resources/Prototypes/_White/Announcers/ruold.yml
Labels: Changes: C#, Changes: YML, Changes: Audio, Status: Needs Review

#379 [Fix] Changeling Headcrad Id
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Resources/Prototypes/_Goobstation/Changeling/Entities/Mobs/headcrab.yml
Labels: Changes: C#, Changes: YML

#369 [Fix] Uplink Cost
  Resources/Prototypes/_Funkystation/Store/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: YML, Status: Needs Review

#368 [Tweak/Add] Stims
  Resources/Locale/en-US/_white/prototypes/reagents/narcotics.ftl
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/en-US/reagents/meta/narcotics.ftl
  Resources/Locale/ru-RU/_white/prototypes/reagents/narcotics.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/reagents/meta/narcotics.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_White/Reagents/narcotics.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#367 [Fix] Traits
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML

#366 [Fix] Fire
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
Labels: Changes: C#, Changes: YML

#395 [Fix] Fix Fix Hearing
  Content.Server/_White/Hearing/HearingSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#365 [Fix] Test
  Content.IntegrationTests/PoolManagerTestEventHandler.cs
  Content.IntegrationTests/Tests/Movement/SlippingTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/CombatMode/Disarm/DisarmMalusComponent.cs
  Content.Server/_White/Chat/EnvironmentalSuicideSystem.cs
  Content.Shared/Item/SharedItemSystem.cs
  Resources/ConfigPresets/Build/debug.toml
  Resources/Maps/_White/DryDock.yml
  Resources/Maps/_White/WhiteBox.yml
  Resources/Prototypes/Entities/Structures/Specific/Janitor/janicart.yml
  Resources/Prototypes/Maps/Molecule.yml
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/drydock.yml
  Resources/Prototypes/Maps/glacier.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/moose.yml
  Resources/Prototypes/Maps/pebble.yml
  Resources/Prototypes/Maps/radstation.yml
  Resources/Prototypes/Maps/shoukou.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_Shitmed/Body/Organs/silicon.yml
  Resources/Prototypes/_White/Recipes/Reactions/Synthesis.yml
  Resources/Prototypes/_White/Recipes/Reactions/biological.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Changes: Map, Changes: Config

#396 [Fix] locale
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
Labels: Changes: Localization, Changes: YML
