Repository WWhiteDreamProject/wwdpublic, pull requests merged in 2025-09, with the labels that each got.

#823 [Fix] Xenomorphs
  Content.Server/_White/Xenomorphs/FaceHugger/FaceHuggerSystem.cs
  Resources/Locale/en-US/_white/game-tiking/game-rules/xenomorphs.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML

#836 [Fix] Discord Changeloger
  .github/workflows/discord-changelog.yml
Labels: Changes: YML, Changes: Workflow

#833 [Tweak] Uplink Catalog
  Content.Server/Parallax/BiomeSystem.cs
  Resources/Locale/en-US/_white/prototypes/catalog/uplink.ftl
  Resources/Locale/en-US/_white/prototypes/catalog/uplink/allies.ftl
  Resources/Locale/en-US/_white/prototypes/catalog/uplink/ammo.ftl
  Resources/Locale/en-US/_white/prototypes/catalog/uplink/chemicals.ftl
  Resources/Locale/en-US/_white/prototypes/catalog/uplink/deception.ftl
  Resources/Locale/en-US/_white/prototypes/catalog/uplink/disruption.ftl
  Resources/Locale/en-US/_white/prototypes/catalog/uplink/explosives.ftl
  Resources/Locale/en-US/_white/prototypes/catalog/uplink/implants.ftl
  Resources/Locale/en-US/_white/prototypes/catalog/uplink/job_specific.ftl
  Resources/Locale/en-US/_white/prototypes/catalog/uplink/pointless.ftl
  Resources/Locale/en-US/_white/prototypes/catalog/uplink/weaponry.ftl
  Resources/Locale/en-US/_white/prototypes/catalog/uplink/wearables.ftl
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_white/prototypes/catalog/uplink.ftl
  Resources/Locale/ru-RU/_white/prototypes/catalog/uplink/allies.ftl
  Resources/Locale/ru-RU/_white/prototypes/catalog/uplink/ammo.ftl
  Resources/Locale/ru-RU/_white/prototypes/catalog/uplink/chemicals.ftl
  Resources/Locale/ru-RU/_white/prototypes/catalog/uplink/deception.ftl
  Resources/Locale/ru-RU/_white/prototypes/catalog/uplink/disruption.ftl
  Resources/Locale/ru-RU/_white/prototypes/catalog/uplink/explosives.ftl
  Resources/Locale/ru-RU/_white/prototypes/catalog/uplink/implants.ftl
  Resources/Locale/ru-RU/_white/prototypes/catalog/uplink/job_specific.ftl
  Resources/Locale/ru-RU/_white/prototypes/catalog/uplink/pointless.ftl
  Resources/Locale/ru-RU/_white/prototypes/catalog/uplink/weaponry.ftl
  Resources/Locale/ru-RU/_white/prototypes/catalog/uplink/wearables.ftl
  Resources/Locale/ru-RU/_white/prototypes/entities/objects/specific/syndicate.ftl
  Resources/Locale/ru-RU/_white/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Catalog/Uplink/allies.yml
  Resources/Prototypes/_White/Catalog/Uplink/ammo.yml
  Resources/Prototypes/_White/Catalog/Uplink/chemicals.yml
  Resources/Prototypes/_White/Catalog/Uplink/deception.yml
  Resources/Prototypes/_White/Catalog/Uplink/disruption.yml
  Resources/Prototypes/_White/Catalog/Uplink/explosives.yml
  Resources/Prototypes/_White/Catalog/Uplink/implants.yml
  Resources/Prototypes/_White/Catalog/Uplink/job_specific.yml
  Resources/Prototypes/_White/Catalog/Uplink/pointless.yml
  Resources/Prototypes/_White/Catalog/Uplink/weaponry.yml
  Resources/Prototypes/_White/Catalog/Uplink/wearables.yml
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Objects/Specific/syndicate.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#840 [Fix] Don't Ping On Empty Changelog
  Tools/actions_changelogs_since_last_run.py
Labels: Changes: YML, Status: Needs Review

#842 Tweak: Nerfed Juggernaut Ult (#2542)
  Content.Server/Ghost/GhostReturnToRoundSystem.cs
  Resources/Locale/en-US/ghost/ghost-respawn.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML

#839 Еще одна порция фиксов динамика
  Content.Server/GameTicking/Rules/DynamicRuleSystem.cs
  Resources/Prototypes/DeltaV/GameRules/midround.yml
  Resources/Prototypes/GameRules/dynamic_rules.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Shitmed/GameRules/events.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#847 [Fix] Wonder Box Test Fail
  Content.Server/Decals/DecalSystem.cs
  Content.Server/Procedural/DungeonSystem.Rooms.cs
  Resources/Maps/_White/Atlases/WonderBoxMaint.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Changes: Map
